section.section.try-fusebot
    .background.try-fusebot__marks-container
        .mark.mark--big.mark--fusebot.mark--left.mark--bottom.try-fusebot__mark-left
        .mark.mark--big.mark--fusebot.mark--right.try-fusebot__mark-right
    .background.try-fusebot__background
    .try-fusebot__container.layout
        .try-fusebot__wrapper
            .try-fusebot__title Why should you try Fusebot?
            div
                .try-fusebot__quality
                    .try-fusebot__quality-icon
                    .try-fusebot__quality-description You are a maker
                .try-fusebot__quality
                    .try-fusebot__quality-icon
                    .try-fusebot__quality-description You like showing off your mad coding skills
                .try-fusebot__quality
                    .try-fusebot__quality-icon
                    .try-fusebot__quality-description You love developers tools that are flexible and fast