section.section.section--no-margin
    .background.background--white
        .mark.mark--small.mark--dark-violet.mark--left
        .mark.mark--small.mark--dark-violet.mark--right.mark--bottom
    .layout.description__layout
        .description__title-container
            +title('Great & excellent ', 'place to work', false, true, 'description__title')
            p.text.description__text
                | Fusebit was founded by early architects of Auth0 integration technology who helped shape the award-winning culture. We aim to do the same at Fusebit.

