-
    var socialLinks = {
        instagram: '#ig',
        twitter: 'https://twitter.com/fusebitio',
        linkedin: 'https://www.linkedin.com/company/fusebit',
        facebook: '#fb'
    }

ul.socialMedia
    //- li.socialMedia--ig
    //-     a(href=socialLinks.instagram) 
    //-         svg(width="28" height="28" fill="none" xmlns="http://www.w3.org/2000/svg")
    //-             path(d="M14 6.827c2.336 0 2.613.009 3.536.05.853.04 1.316.182 1.625.302.408.159.7.348 1.006.654.306.307.495.598.654 1.007.12.308.263.771.301 1.624.043.923.052 1.2.052 3.536 0 2.336-.01 2.613-.052 3.536-.038.853-.18 1.316-.3 1.625a2.71 2.71 0 01-.655 1.006 2.71 2.71 0 01-1.006.654c-.309.12-.772.263-1.625.301-.923.043-1.2.052-3.536.052-2.336 0-2.613-.01-3.536-.052-.853-.038-1.316-.181-1.624-.3a2.71 2.71 0 01-1.007-.655 2.71 2.71 0 01-.654-1.006c-.12-.309-.262-.772-.301-1.625-.042-.923-.051-1.2-.051-3.536 0-2.336.009-2.613.05-3.536.04-.853.182-1.316.302-1.624.159-.409.348-.7.654-1.007A2.71 2.71 0 018.84 7.18c.308-.12.771-.263 1.624-.301.923-.042 1.2-.051 3.536-.051zm0-1.577c-2.376 0-2.674.01-3.608.053-.93.042-1.567.19-2.124.406a4.29 4.29 0 00-1.55 1.01 4.289 4.289 0 00-1.009 1.55c-.216.556-.364 1.192-.406 2.123-.043.934-.053 1.232-.053 3.608 0 2.376.01 2.674.053 3.608.042.931.19 1.567.406 2.124a4.29 4.29 0 001.01 1.55 4.29 4.29 0 001.55 1.009c.556.216 1.192.364 2.123.406.934.043 1.232.053 3.608.053 2.376 0 2.674-.01 3.608-.053.931-.042 1.567-.19 2.124-.406a4.289 4.289 0 001.55-1.01 4.289 4.289 0 001.009-1.55c.216-.556.364-1.192.407-2.123.042-.934.052-1.232.052-3.608 0-2.376-.01-2.674-.052-3.608-.043-.93-.19-1.567-.407-2.124a4.289 4.289 0 00-1.01-1.55 4.289 4.289 0 00-1.55-1.009c-.556-.216-1.192-.364-2.123-.406-.934-.043-1.232-.053-3.608-.053z" fill="#03032D")
    //-             path(d="M14.005 9.51a4.493 4.493 0 100 8.986 4.493 4.493 0 000-8.986zm0 7.41a2.917 2.917 0 110-5.834 2.917 2.917 0 010 5.834zM19.721 9.33a1.05 1.05 0 11-2.1 0 1.05 1.05 0 012.1 0z" fill="#03032D")

    li.socialMedia--tw
        a.track-with-segment(href=socialLinks.twitter data-event-name="Twitter Button Clicked" data-object-location="Footer") 
            svg(width="28" height="28" fill="none" xmlns="http://www.w3.org/2000/svg")
                path(fill-rule="evenodd" clip-rule="evenodd" d="M22.75 8.657a7.257 7.257 0 01-2.062.557 3.554 3.554 0 001.578-1.956 7.259 7.259 0 01-2.28.858A3.615 3.615 0 0017.367 7c-1.982 0-3.59 1.582-3.59 3.534 0 .277.032.547.093.806a10.246 10.246 0 01-7.4-3.693 3.474 3.474 0 00-.486 1.777c0 1.226.633 2.307 1.597 2.941a3.623 3.623 0 01-1.627-.442v.044c0 1.713 1.239 3.141 2.88 3.467a3.666 3.666 0 01-1.621.06 3.588 3.588 0 003.354 2.455 7.278 7.278 0 01-4.46 1.513c-.29 0-.575-.017-.856-.05A10.281 10.281 0 0010.753 21c6.604 0 10.215-5.385 10.215-10.055 0-.154-.003-.306-.01-.457a7.25 7.25 0 001.792-1.83z" fill="#03032D")

    li.socialMedia--in
        a.track-with-segment(href=socialLinks.linkedin data-event-name="LinkedIn Button Clicked" data-object-location="Footer") 
            svg(width="28" height="28" fill="none" xmlns="http://www.w3.org/2000/svg")
                path(fill-rule="evenodd" clip-rule="evenodd" d="M9.044 7.853c0 .941-.754 1.704-1.933 1.704-1.134 0-1.888-.763-1.864-1.704-.024-.988.73-1.728 1.886-1.728 1.157 0 1.888.74 1.911 1.728zm-3.703 14.02v-10.97h3.586v10.97H5.34zM11.806 14.404a69.54 69.54 0 00-.095-3.5h3.114l.166 1.503h.07c.472-.695 1.651-1.749 3.562-1.749 2.359 0 4.128 1.48 4.128 4.71v6.507h-3.585v-6.08c0-1.414-.519-2.378-1.816-2.378-.991 0-1.58.65-1.816 1.278-.095.225-.142.539-.142.853v6.327h-3.585v-7.47h-.001z" fill="#03032D")

    //- li.socialMedia--fb
    //-     a(href=socialLinks.facebook) 
    //-         svg(width="28" height="28" fill="none" xmlns="http://www.w3.org/2000/svg") 
    //-             path(fill-rule="evenodd" clip-rule="evenodd" d="M18.65 7.838c-.545-.109-1.281-.19-1.745-.19-1.254 0-1.336.545-1.336 1.418v1.553h3.136l-.273 3.218h-2.863v9.788h-3.926v-9.788H9.625v-3.218h2.018V8.63c0-2.727 1.281-4.254 4.499-4.254 1.117 0 1.936.164 2.999.382l-.49 3.081z" fill="#03032D")
