section.section
    .background.background--dark.background--straight
        img(src='../../../assets/images/careers/hero/hero__bg.png' alt='Careers').hero__bg
    .background
        .mark.mark--big.mark--rainbow.mark--bottom.mark--left.hero__mark
    .layout.hero__layout
        .hero__content
            .hero__title-container
                h1.title.title--white.title--main.hero__title Integrations
            .hero__description
                p.text Fusebit offers connectors to most common SaaS systems out there, and we add more connectors weekly. However, our platform is fully open and allows you to modify Fusebit connectors and add custom connectors to bespoke or esoteric systems as needed. With Fusebit, you are never limited in which systems you can connect to!
                div
                    .hero__items-container
                        .hero__items-container-line
                        div
                            .hero__item 
                                .hero__item-icon-wrapper
                                    img(src='../../../assets/images/ellipse-bright.svg' alt='ellipse')
                                p Pre-built connectors for most popular SaaS
                            .hero__item 
                                .hero__item-icon-wrapper
                                    img(src='../../../assets/images/ellipse-bright.svg' alt='ellipse')
                                p Flexible and customizable connector model
                            .hero__item
                                .hero__item-icon-wrapper.hero__item-icon-wrapper--last
                                    img(src='../../../assets/images/ellipse-bright.svg' alt='ellipse')
                                p Add your own connectors as needed

