section.section.section--no-margin
    .background.background--neutralLight
        .mark.mark--big.mark--light-violet.mark--right.join__mark.join__mark-desktop
        .mark.mark--small.mark--dark-violet.mark--right.join__mark.join__mark-mobile
    .layout.join__layout
        .join__info-container
            .join__content
                +title('Join the ', 'Fusebit Team', true, false, 'join__title')
                p.text.join__text
                    | We're growing and in need of smart, passionate, and driven people to join our team and take on exciting challenges. Sound interesting?
                +careersCta('hero__cta')
                +avatar('64px', '#FF8049', '../../../assets/images/careers/join/member-1.png', 'join__avatar join__avatar-1')
                +avatar('40px', '#B9CFFF', '../../../assets/images/careers/join/member-2.png', 'join__avatar join__avatar-2')
                +avatar('64px', 'var(--brightYellow)', '../../../assets/images/careers/join/member-3.png', 'join__avatar join__avatar-3')
                +avatar('40px', '#FF8049', '../../../assets/images/careers/join/member-4.png', 'join__avatar join__avatar-4')