include ./Bubble/Bubble
include ./Card/Card

section.support
    .support__container
        .support__wrapper
            .support__content 
                h2.support__title
                    | Spend 
                    span less time learning 
                    | and more time coding_

                p.support__text Fusebit supports popular SaaS APIs so you don't have to become an integration expert. Our simple, uniform model covers all your integration needs in one place.

            .support__image 

                .bubbles__wrapper
                    
                    - 
                        function repeatArr(arr, repeat) {
                            let newArr = [];
                            for (let i = 0; i < repeat; i++) {
                                newArr.push(...arr);
                            }
                            return newArr;
                        }

                        const brands = [
                            [
                                {
                                    img: '../assets/images/icons/slack.svg',
                                    name: 'Slack bot'
                                },
                                {
                                    img: '../assets/images/icons/slack.svg',
                                    name: 'Salesforce\'s'
                                },
                                {
                                    img: '../assets/images/icons/slack.svg',
                                    name: 'Asana synk'
                                },
                            ],
                            [
                                {
                                    img: '../assets/images/icons/slack.svg',
                                    name: 'Salesforce opportunity synk'
                                },
                                {
                                    img: '../assets/images/icons/slack.svg',
                                    name: 'Jira synk'
                                },
                            ],
                            [
                                {
                                    img: '../assets/images/icons/slack.svg',
                                    name: 'Slack synk'
                                },
                                {
                                    img: '../assets/images/icons/slack.svg',
                                    name: 'Quickbooks'
                                },
                            ],
                            [
                                {
                                    img: '../assets/images/icons/slack.svg',
                                    name: 'Asana synk'
                                },
                                {
                                    img: '../assets/images/icons/slack.svg',
                                    name: 'Salesforce opportunity'
                                },
                            ],
                            [
                                {
                                    img: '../assets/images/icons/slack.svg',
                                    name: 'Jira synk'
                                },
                                {
                                    img: '../assets/images/icons/slack.svg',
                                    name: 'Quickbooks'
                                },
                            ]
                        ]

                    - let n = 0;
                    while n < 5
                        .bubbles__row
                            each brand in repeatArr(brands[n], 3)
                                +Bubble(brand)
                        - n++
                        

                svg(id="support__image--frame" viewBox="-20 0 640 430" fill="none" xmlns="http://www.w3.org/2000/svg")
                    path(d="M633 12H204.5C92.1101 12 1 103.11 1 215.5V215.5C1 327.89 92.11 419 204.5 419H633" stroke="#D7E5FE" stroke-width="2" id="support__image--frame-line")
                    circle(r="8" fill="white" stroke="#D7E5FE" stroke-width="2")
                        animateMotion(dur="10s" repeatCount="indefinite" path="M527 12H204.5C92.1101 12 1 103.11 1 215.5V215.5C1 327.89 92.1101 419 204.5 419H527")
                    circle(r="10.5" stroke="white" stroke-width="3")
                        animateMotion(dur="10s" repeatCount="indefinite" path="M527 12H204.5C92.1101 12 1 103.11 1 215.5V215.5C1 327.89 92.1101 419 204.5 419H527")

        .support__wrapper
            .support__cards
                - 
                    const cardsData = [
                        {
                            img: `../assets/images/support_icon.svg`,
                            highlight: `Connectors`,
                            text: `to most popular third-party APIs to help simplify and speed up developers' work.`,
                        },
                        {
                            img: `../assets/images/support_icon.svg`,
                            highlight: `Ready-made templates`,
                            text: `for common scenariossuch as bots, task sync and many other things.`,
                        },
                        {
                            img: `../assets/images/support_icon.svg`,
                            highlight: `Standarized authentications`,
                            text: `model fully covering OAuth2 and other auth schemes.`,
                        },
                    ];
                
                +card(cardsData[0])
                +card(cardsData[1])
                +card(cardsData[2])