section.guide.section
    .background.background--white.guide__background
        .mark.mark--small.mark--dark-violet.mark--right.guide__mark-small
        .mark.mark--big.mark--rainbow.mark--right.guide__mark-big
    .guide__container.layout