section.guide.section
    .background.background--white.guide__background
        .mark.mark--small.mark--dark-violet.mark--right.guide__mark-small
        .mark.mark--big.mark--rainbow.mark--right.guide__mark-big
    .guide__container.layout
        .guide__content 
            h2.guide__content-title Integration Guide
            .guide__content-instructions
                != filters.markdown(`${integration.guide}`)