section.prefooter 
    .prefooter__container
        .prefooter__content
            h2.prefooter__title 
                | Let's build something 
                span completely new 
                | together_

            p.prefooter__text 
                | Join our platform, and make integrating services into your workflow easier several times over.

            a.prefooter__cta(href="#integrate-cta")
                span.prefooter__cta--text Try integration 
                span.prefooter__cta--icon
                    svg(width="10" height="15" viewBox="0 0 10 15" fill="none" xmlns="http://www.w3.org/2000/svg")
                        path(d="M1.36396 1.44268L7.72792 7.80664L1.36396 14.1706" stroke="white" stroke-width="2")

        .prefooter__image 
            img(src="../../../assets/images/prefooter__bg.svg", alt="")