section.investors 
    .investors__angled-section
        .investors__mark-right
    .section-container.investors__container
        .investors__title-container
            +title('Investors ', 'about Fusebit', false, true)
            +text('Proudly backed by Four Rivers Group and Founders Co-op', 'founders__text')
        .investors__content 
            .investors__card
                .investors__car-body
                    .investors__card-logo
                        img(src="../../../assets/images/about/investors/founders-co-op.svg" alt="Logo")
                    p.text.investors__card-text We’ve had bad experiences with call centers. 
                        span  Through Fusebit, I hired my own remote team 
                        | that I have complete control over. I started with one rep to see how it worked and am continuing to grow my team.
                .investors__card-footer
                    .investors__card-img-container(style="background: url('../../../assets/images/about/investors/aviel.svg');")
                    .investors__card-person
                        span.investors__card-name Aviel Ginzburg
                        span.investors__card-position General Partner
            .investors__card
                .investors__car-body
                    .investors__card-logo
                        img(src="../../../assets/images/about/investors/four-rivers-group.svg" alt="Logo")
                    p.text.investors__card-text We’ve had bad experiences with call centers. 
                        span  Through Fusebit, I hired my own remote team 
                        | that I have complete control over. I started with one rep to see how it worked and am continuing to grow my team.
                .investors__card-footer
                    .investors__card-img-container(style="background: url('../../../assets/images/about/investors/farouk.svg');")
                    .investors__card-person
                        span.investors__card-name Farouk Ladha
                        span.investors__card-position Managing Partner

