section.section.section--no-margin.investors 
    .background.background--neutralLight
        .mark.mark--small.mark--dark-violet.mark--right.investors__mark
    .layout.investors__layout
        .investors__title-container
            +title('Investors ', 'about Fusebit', false, true)
            +text('Proudly backed by Four Rivers Group and Founders Co-op', 'founders__text')
        .investors__content.swiper-container
            .swiper-wrapper 
                .swiper-slide 
                    .investors__card
                        .investors__car-body
                            .investors__card-logo
                                img(src="../../../assets/images/about/investors/founders-co-op.svg" alt="Logo")
                            p.text.investors__card-text 
                                | You can’t deliver on an amazing product experience without integrating seamlessly into a customer’s existing software ecosystem, but with the explosion of SaaS that’s grown harder than ever. Fusebit’s vision to let companies stay focused on delighting their customers while leaving the heavy lifting of integrations to them is the right answer and something I wish existed when I was building my company.
                        .investors__card-footer
                            .investors__card-img-container(style="background-image: url('../../../assets/images/about/investors/aviel.svg');")
                            .investors__card-person
                                span.investors__card-name Aviel Ginzburg
                                span.investors__card-position General Partner
                .swiper-slide 
                    .investors__card
                        .investors__car-body
                            .investors__card-logo
                                img(src="../../../assets/images/about/investors/four-rivers-group.svg" alt="Logo")
                            p.text.investors__card-text 
                                | The founding team brings unique experience from Auth0, which makes them well-positioned to disrupt the space with a developer-first model. Software integrations are only becoming more important for modern apps and Fusebit has the right approach to help developers build and deploy integrations more efficiently.
                        .investors__card-footer
                            .investors__card-img-container(style="background-image: url('../../../assets/images/team/dan.jpg');")
                            .investors__card-person
                                span.investors__card-name Dan Scholnick
                                span.investors__card-position Managing Partner
            .swiper-pagination.swiper__pagination

script.
    new Swiper('.investors__content', {
        slidesPerView: 1,
        spaceBetween: 22,
        slidesPerColumnFill: 'row',
        enabled: true,
        pagination: {
            el: '.swiper-pagination',
        },
        breakpoints: {
            769: {
                slidesPerView: 2,
                enabled: false,
            },
            993: {
                slidesPerView: 2,
                enabled: false,
                spaceBetween: 44,
            },
        }
    });