section.teams 
    .teams__container
        .teams__info
            h2.teams__title
                | Teams from around the world i _
                p At Fusebit, we believe in fair hiring around the world. Any professional, no matter where they live, can work for and benefit from our company.


