.path1 
    .path1__container 
        svg(class="path1__svg path1__svg--desktop" width="847" height="2400" fill="none" xmlns="http://www.w3.org/2000/svg")
            path(d="M14 8v2400" stroke="#0029FF" stroke-width="2")
            path(class="path1__desktop--path" d="M14 8v1434c0 19.33 15.67 35 35 35h495c19.33 0 35 15.67 35 35v850" stroke="red" stroke-width="2")
            path(class="path1__section1--path-1" d="M14 8v296.363c0 19.187 15.4487 34.798 34.6354 34.998l26.7291.278C94.5512 339.839 110 355.45 110 374.637V391.5" stroke="green" stroke-width="2")
            path(class="path1__section1--path-2" d="M14 8v296.076c0 19.3 15.624 34.958 34.9244 34.999l393.1516.85c19.3.041 34.924 15.699 34.924 34.999V391.5" stroke="green" stroke-width="2")
            path(class="path1__section1--path-3" d="M14 8v296.042c0 19.314 15.6444 34.977 34.9579 35l761.5841.916c19.314.023 34.958 15.686 34.958 35V391.5" stroke="green" stroke-width="2")
            rect(x="7" y="1" width="14" height="14" rx="7" stroke="#C3D0E7" stroke-width="2")
            rect(x="8" y="2" width="12" height="12" rx="6" fill="#FFFFFF")
            rect(y="7" width="2" height="2" rx="1" fill="#C3D0E7")
            rect(x="26" y="7" width="2" height="2" rx="1" fill="#C3D0E7")

        svg(class="path1__svg path1__svg--mobile" width="200" height="3200" fill="none" xmlns="http://www.w3.org/2000/svg")
            path(class="path1__mobile--path" d="M14 8v2980" stroke="#0029FF" stroke-width="2")
            rect(x="7" y="1" width="14" height="14" rx="7" stroke="#C3D0E7" stroke-width="2")
            rect(x="8" y="2" width="12" height="12" rx="6" fill="#FFFFFF")
            rect(y="7" width="2" height="2" rx="1" fill="#C3D0E7")
            rect(x="26" y="7" width="2" height="2" rx="1" fill="#C3D0E7")

        .path1__dot.pathdot
