---
layout: blog-list.pug
---

include ../_components/mixins.pug

section.section.section--no-margin
.layout
    h1.list__title Our Blog
    .list__posts
        - let buildAmount = 1
        each post, index in collections.post
            +postCard(post.data.permalink, post.data.post_image, post.data.post_date, post.data.post_title, post.data.post_excerpt, index >= buildAmount ? 'list__post--hidden' : '')
    button#more More
    script. 
        const runtimeAmount = 1
        document.getElementById('more').addEventListener('click', function() {
            [...document.querySelectorAll('.list__post--hidden')].slice(0, runtimeAmount).forEach(function(el) {
                el.classList.remove('list__post--hidden')
            })
        })