.path2
    .path2__container 
        svg(class="path2__svg path2__svg--desktop" width="921" height="2400" fill="none" xmlns="http://www.w3.org/2000/svg")
            path(d="M14 8v1500" stroke="#00F" stroke-width="2")
            path(class="path2__desktop--path" d="M14 8v810.5c0 17.949 14.5507 32.5 32.5 32.5v0c17.9493 0 32.5 14.551 32.5 32.5V1180c0 19.33 15.67 35 35 35h807" stroke="red" stroke-width="2")
            rect(x="7" y="1" width="14" height="14" rx="7" stroke="#C3D0E7" stroke-width="2")
            rect(x="8" y="2" width="12" height="12" rx="6" fill="#f0f7ff")
            rect(y="7" width="2" height="2" rx="1" fill="#C3D0E7")
            rect(x="26" y="7" width="2" height="2" rx="1" fill="#C3D0E7")

        svg(class="path2__svg path2__svg--mobile" width="394" height="3500" fill="none" xmlns="http://www.w3.org/2000/svg")
            path(class="path2__mobile--path" d="M14 8v2330c0 19.33 15.67 35 35 35h344.5" stroke="green" stroke-width="2")
            rect(x="7" y="1" width="14" height="14" rx="7" stroke="#C3D0E7" stroke-width="2")
            rect(x="8" y="2" width="12" height="12" rx="6" fill="#f0f7ff")
            rect(y="7" width="2" height="2" rx="1" fill="#C3D0E7")
            rect(x="26" y="7" width="2" height="2" rx="1" fill="#C3D0E7")

        svg(class="path2__svg path2__svg--tablet" width="800" height="3000" fill="none" xmlns="http://www.w3.org/2000/svg")
            rect(x="7" y="1" width="14" height="14" rx="7" stroke="#C3D0E7" stroke-width="2")
            rect(x="8" y="2" width="12" height="12" rx="6" fill="#C4C4C4")
            rect(y="7" width="2" height="2" rx="1" fill="#C3D0E7")
            rect(x="26" y="7" width="2" height="2" rx="1" fill="#C3D0E7")
            path(class="path2__tablet--path" d="M14 8v1435c0 19.33 15.67 35 35 35h700.5" stroke="red" stroke-width="2")

        .path2__dot.pathdot

