+modal("modal__sign-up")
    .modal-sign-up__content
        h2.modal__header What integration problem are you trying to solve?

        .modal-sign-up__answers

        a.modal-sign-up__confirm-button.modal-cta(href=homepage.links.getStartedLink onclick="trackUserAnswer()") Continue to Sign Up

script.

    const trackUserAnswer = () => {
        const answer = document.querySelector('.modal-sign-up__answers input:checked').value;

        analytics.track({
            event: 'Continue Button Clicked',
            properties: {
                objectLocation: "Get Started Form",
                domain: 'fusebit.io',
                GetStartedAnswer: answer
            }
        });

        closeModal();
    }

    window.addEventListener('load', () => {
        const GET_STARTED_ANSWERS = [
            {text: 'I want to automate something for myself or my team.', value: 'Single-tenant'},
            {text: 'I want users of my app to connect to other systems they use.', value: 'Multi-tenant'},
            {text: "I am not sure yet, let me explore!", value: 'Not sure'}
        ];

        const answersEl = document.querySelector('.modal-sign-up__answers');

        const createOption = ({text, value}) => {
            const buttonContainer = document.createElement('div');
            buttonContainer.classList.add('modal-sign-up__button-container');
            const input = document.createElement('input');
            input.setAttribute('type', 'radio');
            input.setAttribute('name', 'action');
            input.setAttribute('value', value);
            const signUpButton = document.querySelector('.modal-sign-up__confirm-button'); 

            input.addEventListener('change', () => {
                signUpButton.style.opacity = '1';
                signUpButton.style.pointerEvents = 'all';
            });

            const button = document.createElement('button');
            button.innerText = text;

            buttonContainer.appendChild(input);
            buttonContainer.appendChild(button);

            answersEl.appendChild(buttonContainer);
        }

        const renderOptions = () => {
            const signUpButton = document.querySelector('.modal-sign-up__confirm-button'); 

            answersEl.innerHTML = '';
            signUpButton.style.pointerEvents = 'none';
            signUpButton.style.opacity = '0';

            shuffle(GET_STARTED_ANSWERS).forEach(action => {
                createOption(action);
                }
            );
        }

        handleClickButtonsGroup('.get-started', () => {
            renderOptions();
        });

        renderOptions()

        openModalFromHash('#signup', '#modal__sign-up');

    });
