section.hero
    .hero__mark.hero__mark--yellow
    .hero__mark.hero__mark--blue
    .hero__mark.hero__mark--red
    .hero__container.layout
        .hero__mark.hero__mark--blue.hero__mark--blue-bottom
        .hero__mark.hero__mark--blueHighlight
        .hero__mark.hero__mark--lightBlue