section.hero.section
    .background
    .hero__mark.hero__mark--yellow
    .hero__mark.hero__mark--blue
    .hero__mark.hero__mark--red
    .hero__container.layout
        .hero__mark.hero__mark--blue.hero__mark--blue-bottom
        .hero__mark.hero__mark--blueHighlight
        .hero__mark.hero__mark--lightBlue
        .hero__content
            .hero__content-flex.hero__content-flex--margin-bottom
                .hero__content-logo-wrapper
                    img.hero__content-logo(src= `data:image/svg+xml;utf8,${encodeURIComponent(integration.logo)}` alt= integration.name)
                h1.hero__content-title #{integration.name}
            .hero__content-flex
                +cta("Try Integration", `${site.portalBaseUrl}/signup?key=${integration.id}`, "hero__content-cta", null, true, "Try Integration Button Clicked", "Make", true, "_blank", "noreferrer")
                +cta("See Documentation", integration.docs, "hero__content-cta hero__content-cta-outlined", null, true, "Try Integration Button Clicked", "Make", false, "_blank", "noreferrer")
