mixin pathDot 
    .features__path--dot

mixin path1 
    svg.features__path--base(width="568" height="2720" fill="none" xmlns="http://www.w3.org/2000/svg")
        path.features__path--base--path1(d="M.999725 0v1024.47c0 22.09 17.908575 40 39.999975 40H526.051c22.092 0 40 17.91 40 40V1880" stroke="#D7E5FF" stroke-width="2")
        path.features__path--base--path2(d="M1.00044 0v3000" stroke="#D7E5FF" stroke-width="2")

section.features 
    .features__container 
        .features__wrapper 

            .features__content 
                h2.features__title 
                    | Leave boilerplate 
                    span integration code 
                    | to us_

                p.features__text 
                    | Focus your time on the core integration logic while Fusebit takesthe boilerplate off your plate.

                ul.features__list.features__list--1st
                    //.features__list--item-active
                    li.features__list--item#f1
                        span 
                            include ./Icons/security
                        
                        | Robust multi-tenant runtime keeps your <br /> customer data secure

                    li.features__list--item#f2
                        span 
                            include ./Icons/padlock
               
                        | Third-party auth token storage + automatic <br/> renewal 

                    li.features__list--item#f3
                        span 
                            include ./Icons/coding

                        
                        | Embeddable white-label configuration and lifecycle management components
                            

            .features__images 
                include ./Marketplace/Marketplace

        .features__wrapper

            .features__content 
                h2.features__title.features__title--sm
                    | Don't spend time worrying about 
                    span infrastructure_

                p.features__text 
                    | Spend time on what matters while Fusebit ensures your integrations are running and healthy

                ul.features__list.features__list--2nd
                    li.features__list--item#f4
                        span 
                            include ./Icons/settings
                        
                        | Automated health checks ensure integrations stay up with minimal upkeep

                    li.features__list--item#f5
                        span 
                            include ./Icons/speedometer
                        
                        | Throttling, and monitoring capabilities ensure system reliability even as usage scales

                    li.features__list--item#f6
                        span 
                            include ./Icons/alert

                        | Alerting
                            

            .features__images.features__images--graph
                img(src="../../assets/images/features__img1.png", alt="Graphs")

        
        +pathDot
        +path1

    .features__bg
        - for(let i = 0; i < 5; i++)
            - let bgNo = ('0' + i).slice(-2);
            div(class='features__bg--' + bgNo)

