section.features 
    .features__container 
        .features__wrapper 

            .features__content 
                h2.features__title 
                    | Leave boilerplate 
                    span integration code 
                    | to us_

                p.features__text 
                    | Focus your time on the core integration logic while Fusebit takesthe boilerplate off your plate.

                ul.features__list 
                    li.features__list--item.features__list--item-active
                        span 
                            svg(viewBox="0 0 48 57" fill="none" xmlns="http://www.w3.org/2000/svg")
                                path(d="M47.5 11L24 1.5L1 11V27C1 32 5.5 50 24 55.5C42.5 50 47.5 32 47.5 27V11Z" stroke="#000000")
                                path(d="M43 14.5648L24.3011 7L6 14.5648V27.3056C6 31.287 9.58065 45.6204 24.3011 50C39.0215 45.6204 43 31.287 43 27.3056V14.5648Z" stroke="#000000")
                                path(class="a" d="M31.6621 19.1121C32.8274 17.9458 34.7176 17.9453 35.8834 19.1111V19.1111C37.0483 20.2761 37.0489 22.1646 35.8848 23.3302L23.8412 35.3893C23.0624 36.1691 21.7994 36.1719 21.0172 35.3955L14.9098 29.334C13.7347 28.1678 13.7312 26.2686 14.9018 25.098V25.098C16.0631 23.9367 17.9436 23.9295 19.1137 25.0818L21.8888 27.8148C22.1896 28.111 22.673 28.109 22.9714 27.8104L31.6621 19.1121ZM34.4801 20.5128C34.0897 20.1197 33.4541 20.1188 33.0627 20.5109L23.1307 30.4603C22.7437 30.848 22.1168 30.8522 21.7247 30.4696L17.6815 26.5251C17.3017 26.1546 16.6962 26.1528 16.3143 26.5212V26.5212C15.9171 26.9043 15.9135 27.5394 16.3064 27.9269L21.7252 33.2725C22.1165 33.6585 22.7459 33.6563 23.1346 33.2677L34.4777 21.9246C34.8672 21.5351 34.8683 20.9037 34.4801 20.5128V20.5128Z" fill="#000000")
                        
                        | Robust multi-tenant runtime keeps your customer data secure

                    li.features__list--item
                        span 
                            svg(viewBox="0 0 48 57" fill="none" xmlns="http://www.w3.org/2000/svg")
                                path(d="M47.5 11L24 1.5L1 11V27C1 32 5.5 50 24 55.5C42.5 50 47.5 32 47.5 27V11Z" stroke="#000000")
                                path(d="M43 14.5648L24.3011 7L6 14.5648V27.3056C6 31.287 9.58065 45.6204 24.3011 50C39.0215 45.6204 43 31.287 43 27.3056V14.5648Z" stroke="#000000")
                                path(class="a" d="M31.6621 19.1121C32.8274 17.9458 34.7176 17.9453 35.8834 19.1111V19.1111C37.0483 20.2761 37.0489 22.1646 35.8848 23.3302L23.8412 35.3893C23.0624 36.1691 21.7994 36.1719 21.0172 35.3955L14.9098 29.334C13.7347 28.1678 13.7312 26.2686 14.9018 25.098V25.098C16.0631 23.9367 17.9436 23.9295 19.1137 25.0818L21.8888 27.8148C22.1896 28.111 22.673 28.109 22.9714 27.8104L31.6621 19.1121ZM34.4801 20.5128C34.0897 20.1197 33.4541 20.1188 33.0627 20.5109L23.1307 30.4603C22.7437 30.848 22.1168 30.8522 21.7247 30.4696L17.6815 26.5251C17.3017 26.1546 16.6962 26.1528 16.3143 26.5212V26.5212C15.9171 26.9043 15.9135 27.5394 16.3064 27.9269L21.7252 33.2725C22.1165 33.6585 22.7459 33.6563 23.1346 33.2677L34.4777 21.9246C34.8672 21.5351 34.8683 20.9037 34.4801 20.5128V20.5128Z" fill="#000000")
                        
                        | Third-party auth token storage + automatic renewal 

                    li.features__list--item
                        span 
                            svg(viewBox="0 0 48 57" fill="none" xmlns="http://www.w3.org/2000/svg")
                                path(d="M47.5 11L24 1.5L1 11V27C1 32 5.5 50 24 55.5C42.5 50 47.5 32 47.5 27V11Z" stroke="#000000")
                                path(d="M43 14.5648L24.3011 7L6 14.5648V27.3056C6 31.287 9.58065 45.6204 24.3011 50C39.0215 45.6204 43 31.287 43 27.3056V14.5648Z" stroke="#000000")
                                path(class="a" d="M31.6621 19.1121C32.8274 17.9458 34.7176 17.9453 35.8834 19.1111V19.1111C37.0483 20.2761 37.0489 22.1646 35.8848 23.3302L23.8412 35.3893C23.0624 36.1691 21.7994 36.1719 21.0172 35.3955L14.9098 29.334C13.7347 28.1678 13.7312 26.2686 14.9018 25.098V25.098C16.0631 23.9367 17.9436 23.9295 19.1137 25.0818L21.8888 27.8148C22.1896 28.111 22.673 28.109 22.9714 27.8104L31.6621 19.1121ZM34.4801 20.5128C34.0897 20.1197 33.4541 20.1188 33.0627 20.5109L23.1307 30.4603C22.7437 30.848 22.1168 30.8522 21.7247 30.4696L17.6815 26.5251C17.3017 26.1546 16.6962 26.1528 16.3143 26.5212V26.5212C15.9171 26.9043 15.9135 27.5394 16.3064 27.9269L21.7252 33.2725C22.1165 33.6585 22.7459 33.6563 23.1346 33.2677L34.4777 21.9246C34.8672 21.5351 34.8683 20.9037 34.4801 20.5128V20.5128Z" fill="#000000")
                        
                        | Embeddable white-label configuration and lifecycle management components
                            

            .features__images
                img(src="../../assets/images/features__img1.png", alt="")


        .features__wrapper

            .features__content 
                h2.features__title 
                    | Don't spend time worrying about 
                    span infrastructure_

                p.features__text 
                    | Spend time on what matters while Fusebit ensures your integrations are running and healthy

                ul.features__list 
                    li.features__list--item
                        span 
                            svg(viewBox="0 0 48 57" fill="none" xmlns="http://www.w3.org/2000/svg")
                                path(d="M47.5 11L24 1.5L1 11V27C1 32 5.5 50 24 55.5C42.5 50 47.5 32 47.5 27V11Z" stroke="#000000")
                                path(d="M43 14.5648L24.3011 7L6 14.5648V27.3056C6 31.287 9.58065 45.6204 24.3011 50C39.0215 45.6204 43 31.287 43 27.3056V14.5648Z" stroke="#000000")
                                path(class="a" d="M31.6621 19.1121C32.8274 17.9458 34.7176 17.9453 35.8834 19.1111V19.1111C37.0483 20.2761 37.0489 22.1646 35.8848 23.3302L23.8412 35.3893C23.0624 36.1691 21.7994 36.1719 21.0172 35.3955L14.9098 29.334C13.7347 28.1678 13.7312 26.2686 14.9018 25.098V25.098C16.0631 23.9367 17.9436 23.9295 19.1137 25.0818L21.8888 27.8148C22.1896 28.111 22.673 28.109 22.9714 27.8104L31.6621 19.1121ZM34.4801 20.5128C34.0897 20.1197 33.4541 20.1188 33.0627 20.5109L23.1307 30.4603C22.7437 30.848 22.1168 30.8522 21.7247 30.4696L17.6815 26.5251C17.3017 26.1546 16.6962 26.1528 16.3143 26.5212V26.5212C15.9171 26.9043 15.9135 27.5394 16.3064 27.9269L21.7252 33.2725C22.1165 33.6585 22.7459 33.6563 23.1346 33.2677L34.4777 21.9246C34.8672 21.5351 34.8683 20.9037 34.4801 20.5128V20.5128Z" fill="#000000")
                        
                        | Automated health checks ensure integrations stay up with minimal upkeep

                    li.features__list--item
                        span 
                            svg(viewBox="0 0 48 57" fill="none" xmlns="http://www.w3.org/2000/svg")
                                path(d="M47.5 11L24 1.5L1 11V27C1 32 5.5 50 24 55.5C42.5 50 47.5 32 47.5 27V11Z" stroke="#000000")
                                path(d="M43 14.5648L24.3011 7L6 14.5648V27.3056C6 31.287 9.58065 45.6204 24.3011 50C39.0215 45.6204 43 31.287 43 27.3056V14.5648Z" stroke="#000000")
                                path(class="a" d="M31.6621 19.1121C32.8274 17.9458 34.7176 17.9453 35.8834 19.1111V19.1111C37.0483 20.2761 37.0489 22.1646 35.8848 23.3302L23.8412 35.3893C23.0624 36.1691 21.7994 36.1719 21.0172 35.3955L14.9098 29.334C13.7347 28.1678 13.7312 26.2686 14.9018 25.098V25.098C16.0631 23.9367 17.9436 23.9295 19.1137 25.0818L21.8888 27.8148C22.1896 28.111 22.673 28.109 22.9714 27.8104L31.6621 19.1121ZM34.4801 20.5128C34.0897 20.1197 33.4541 20.1188 33.0627 20.5109L23.1307 30.4603C22.7437 30.848 22.1168 30.8522 21.7247 30.4696L17.6815 26.5251C17.3017 26.1546 16.6962 26.1528 16.3143 26.5212V26.5212C15.9171 26.9043 15.9135 27.5394 16.3064 27.9269L21.7252 33.2725C22.1165 33.6585 22.7459 33.6563 23.1346 33.2677L34.4777 21.9246C34.8672 21.5351 34.8683 20.9037 34.4801 20.5128V20.5128Z" fill="#000000")
                        
                        | Throttling, and monitoring capabilities ensure system reliability even as usage scales

                    li.features__list--item
                        span 
                            svg(viewBox="0 0 48 57" fill="none" xmlns="http://www.w3.org/2000/svg")
                                path(d="M47.5 11L24 1.5L1 11V27C1 32 5.5 50 24 55.5C42.5 50 47.5 32 47.5 27V11Z" stroke="#000000")
                                path(d="M43 14.5648L24.3011 7L6 14.5648V27.3056C6 31.287 9.58065 45.6204 24.3011 50C39.0215 45.6204 43 31.287 43 27.3056V14.5648Z" stroke="#000000")
                                path(class="a" d="M31.6621 19.1121C32.8274 17.9458 34.7176 17.9453 35.8834 19.1111V19.1111C37.0483 20.2761 37.0489 22.1646 35.8848 23.3302L23.8412 35.3893C23.0624 36.1691 21.7994 36.1719 21.0172 35.3955L14.9098 29.334C13.7347 28.1678 13.7312 26.2686 14.9018 25.098V25.098C16.0631 23.9367 17.9436 23.9295 19.1137 25.0818L21.8888 27.8148C22.1896 28.111 22.673 28.109 22.9714 27.8104L31.6621 19.1121ZM34.4801 20.5128C34.0897 20.1197 33.4541 20.1188 33.0627 20.5109L23.1307 30.4603C22.7437 30.848 22.1168 30.8522 21.7247 30.4696L17.6815 26.5251C17.3017 26.1546 16.6962 26.1528 16.3143 26.5212V26.5212C15.9171 26.9043 15.9135 27.5394 16.3064 27.9269L21.7252 33.2725C22.1165 33.6585 22.7459 33.6563 23.1346 33.2677L34.4777 21.9246C34.8672 21.5351 34.8683 20.9037 34.4801 20.5128V20.5128Z" fill="#000000")
                        
                        | Alerting
                            

            .features__images
                img(src="../../assets/images/features__img1.png", alt="")

    .features__backgrounds 
        .background1  
        .background2  
        .background3  
        .background4 
        .background5  

