extends ../_layouts/default.pug

block seo_variables
    - var title = 'About Us - Fusebit'

block page_variable
    - var pageClass = 'aboutUs'

block content
    include ../_components/AboutUs/Hero/hero
    include ../_components/AboutUs/Teams/teams
    include ../_components/AboutUs/Founders/founders
    include ../_components/AboutUs/Investors/investors

block scripts
    script.
        analytics.page('About Us', { objectLocation: 'About Us', domain: 'fusebit.io' });