extends ../_layouts/default.pug


mixin careersCta(text, href, className)
    - const OPEN_POSITIONS = 4
    a.cta(href= href class= className)
        .cta-ellipse 
            span= OPEN_POSITIONS
        | #{text}
        +ctaArrow

block seo_variables
    - var title = 'Fusebit | Careers'

block page_variable
    - var pageClass = 'careers'

block content
    include ../_components/Careers/Hero/hero
    include ../_components/Careers/Description/description
    include ../_components/Careers/Join/join