extends ../_layouts/default.pug

block seo_variables
    - var title = 'Fusebit | Careers'

block page_variable
    - var pageClass = 'careers'

block content
    include ../_components/Careers/Hero/hero
    include ../_components/Careers/Description/description
    include ../_components/Careers/Join/join