---
pagination:
    data: connectors
    size: 1
    alias: connector
permalink: "| connectors/#{connector.id}.html"
eleventyExcludeFromCollections: true
---

extends ../_layouts/default.pug

block seo_variables
    - var title = connector.name + ` - Fusebit`

block page_variable
    - var pageClass = 'connector'

block content
    include ../_components/Connector/Hero/Hero

block scripts
    script.
        analytics.page("Connector Detail", { objectLocation: "Connector Detail", domain: 'fusebit.io' });

