extends ../_layouts/default-developers.pug

block seo_variables
    - var title = 'Fusebit - Build integrations for your app with ease'

block page_variable
    - var pageClass = 'homepage'

block content
    include ../_components/HomepageDevelopers/Hero/Hero
    include ../_components/HomepageDevelopers/Support/Support
    include ../_components/HomepageDevelopers/Features/Features
    include ../_components/HomepageDevelopers/Integrate/Integrate
    include ../_components/HomepageDevelopers/Integrations/Integrations
    include ../_components/HomepageDevelopers/WeProvide/WeProvide
    include ../_components/HomepageDevelopers/Testimonials/Testimonials
    include ../_components/HomepageDevelopers/Prefooter/Prefooter
    
    include ../_components/HomepageDevelopers/Path1/Path1
    include ../_components/HomepageDevelopers/Path2/Path2

block scripts
    script.
        analytics.page('Home Page', { objectLocation: 'Home Page', domain:  'fusebit.io' });
