extends ../_layouts/default.pug

block content
    include ../_components/Homepage/Hero/Hero
    include ../_components/Homepage/Support/Support
    include ../_components/Homepage/Features/Features
    include ../_components/Homepage/Integrate/Integrate
    include ../_components/Homepage/Integrations/Integrations