extends ../_layouts/default.pug

block seo_variables
    - var title = 'Fusebit - Build integrations for your app with ease'

block page_variable
    - var pageClass = 'homepage'

block content
    include ../_components/Homepage/Hero/Hero
    include ../_components/Homepage/Support/Support
    include ../_components/Homepage/Features/Features
    include ../_components/Homepage/Integrate/Integrate
    include ../_components/Homepage/Integrations/Integrations
    include ../_components/Homepage/WeProvide/WeProvide
    include ../_components/Homepage/Testimonials/Testimonials
    include ../_components/Homepage/Prefooter/Prefooter
    
    include ../_components/Homepage/Path1/Path1
    include ../_components/Homepage/Path2/Path2

block scripts
    script.
        analytics.page('Home Page Leaders', { objectLocation: 'Home Page', domain:  'fusebit.io' });
