extends ../_layouts/default.pug

block header
    include ../_components/Header/Header

block content
    include ../_components/Homepage/Hero/Hero
    include ../_components/Homepage/Support/Support
    include ../_components/Homepage/Features/Features