---
pagination:
    data: integrations
    size: 1
    alias: integration
permalink: "| integrations/#{integration.id}/"
eleventyExcludeFromCollections: true
---

extends ../_layouts/default.pug

block seo_variables
    - var title = integration.name + ` - Fusebit`

block page_variable
    - var pageClass = 'integration'

block content
    include ../_components/Integration/Hero/Hero
    include ../_components/Integration/Guide/Guide
    if !integration.outOfPlan
        include ../_components/Integration/Popular/Popular
    include ../_components/Integration/Posts/Posts

block scripts
    script.
        analytics.page("Integration Detail", { objectLocation: "Integration Detail", domain: 'fusebit.io' });

