extends ../_layouts/default.pug

block seo_variables
    - var title = 'Legal - Fusebit'

block page_variable
    - var pageClass = 'legal__page'

mixin LegalLink(linkText, link)
    li 
        a(href=link)=linkText
    

block content

    section.static__page

        .static__container

            .static__wrapper 
                .static__head 
                    h1 Legal
                    span Last updated on October 6, 2020

                .static__content 
                    p Legal information about the Fusebit service is available here:
                        ul 
                            +LegalLink('Subscription Agreement', 'https://cdn.fusebit.io/assets/legal/SubscriptionAgreement-v1.1.0.pdf')
                            +LegalLink('License Agreement', 'https://cdn.fusebit.io/assets/legal/FusebitPlatformLicenseAgreement-v1.1.0.pdf')
                            +LegalLink('GDPR Data Processing Agreement', 'https://cdn.fusebit.io/assets/legal/DataProcessingAgreement-v1.1.0.pdf')
                            +LegalLink('Acceptable Use Policy', 'https://cdn.fusebit.io/assets/legal/AcceptableUsePolicy-v1.1.0.pdf')
                            +LegalLink('Service Level Description', 'https://cdn.fusebit.io/assets/legal/ServiceLevelDescription-v1.1.0.pdf')
                            +LegalLink('Sub Processors', 'https://cdn.fusebit.io/assets/legal/Sub-Processors-v1.1.0.pdf')
                            +LegalLink('Support Program', 'https://cdn.fusebit.io/assets/legal/SupportProgram-v1.1.0.pdf')
                            +LegalLink('Finder\'s Agreement', 'https://cdn.fusebit.io/assets/legal/FindersAgreement-v1.0.0.pdf')

block scripts
    script.
        analytics.page('Legal', { objectLocation: 'Legal', domain: 'fusebit.io' });

