extends ../_layouts/default.pug

block seo_variables
    - var title = 'Make - Fusebit'

block page_variable
    - var pageClass = 'make'
    - var connectors = connectors

block content
    div.make
        each connector in connectors
            div #{connector.snippets[0].id}

block scripts
    script.
        console.log(searchParams.get("query"));
