extends ../_layouts/default.pug

block seo_variables
    - var title = 'About Us - Fusebit'

block page_variable
    - var pageClass = 'make'

block content
    div.make asd

block scripts
    script.
        analytics.page('About Us', { objectLocation: 'About Us', domain: 'fusebit.io' });
