navbar.header
    .header__container
        .header__logo--wrapper
            .header__logo
            .header__logo--title /fusebot
        a.track-with-segment.fusebot-cta.header__cta(href="#installation" data-event-name="Start Coding Now Button Clicked" data-object-location="Fusebot Page Hero") 
            | Start Coding Now