.dropdown {
    height: 48px;
    border: 1px solid #9a9aab;
    box-sizing: border-box;
    border-radius: 300px;
    padding: 0 15px;
    cursor: pointer;
    position: relative;
    width: 315px;
    display: flex;
    align-items: center;

    &:focus-within,
    &:hover {
        border: 1px solid #598eec;
    }

    > span {
        font-size: 16px;
        line-height: 20px;
        color: #686881;
    }

    &-menu {
        background: #ffffff;
        border: 1px solid #e6efff;
        box-sizing: border-box;
        border-radius: 16px;
        padding: 16px;
        flex-direction: column;
        z-index: 1;
        visibility: hidden;
        pointer-events: none;
        cursor: default;
        left: 0;
        right: 0;
        width: 315px;
        max-height: 250px;
        overflow: auto;
        display: flex;

        &[data-popper-reference-hidden] {
            visibility: hidden;
            pointer-events: none;
        }

        &--open {
            visibility: visible;
            pointer-events: initial;
        }
    }

    &-item {
        cursor: pointer;
        margin-bottom: 16px;

        &:hover {
            color: var(--orange);
        }

        &:last-child {
            margin-bottom: 0;
        }
    }

    &-item--selected {
        color: var(--orange);
    }
}

