.mark {
    position: absolute;
    border-radius: 210px;
    width: 25vw; // fallback
}

.mark--light-violet {
    background: linear-gradient(85.9deg, #d7e5ff, rgba(240, 242, 246, 0));
}

.mark--dark-violet {
    background: linear-gradient(85.95deg, #020084, #d2e4ff);
    opacity: 0.6;
}

.mark--rainbow {
    background: linear-gradient(
        85.95deg,
        #c4640b 4.26%,
        #750a5d 35.17%,
        #2d2abb 86.68%
    );
}

.mark--fusebot {
    background: linear-gradient(85.95deg, #0F0F6D 4.26%, #25EBCD 86.68%);
}

.mark--big {
    height: 48px;

    @media only screen and (max-width: 1200px) {
        height: 24px;
    }
}

.mark--small {
    height: 24px;

    @media only screen and (max-width: 1200px) {
        height: 16px;
    }
}

.mark--left {
    left: 0;
    transform: rotate(180deg);
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.mark--right {
    right: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.mark--bottom {
    bottom: var(--triangleHeight);
}

.mark--bottom-offset-48 {
    bottom: calc(var(--triangleHeight) + 48px);
}
