.section {
    position: relative;
    margin-bottom: calc(var(--triangleHeight) * -1);
    overflow: hidden;
}

.section--no-margin {
    margin-bottom: 0;
}

.background {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    bottom: 0;
    transform-origin: 100% 0;
    transform: skewY(var(--angle));
    overflow: hidden;
}

.background--neutralLight {
    background: var(--neutralLight);
}

.background--straight {
    transform: skewY(0);
}

.layout {
    max-width: var(--container);
    width: 90%;
    margin: 0 auto;
    padding: var(--triangleHeight) 0;
}

.layout--no-padding {
    padding: 0;
}

.layout--no-padding-top {
    padding-top: 0;
}

.layout--no-padding-bottom {
    padding-bottom: 0;
}
