.fusebot-cta {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: fit-content;
    background: #15D6CF;
    font-size: 18px;
    font-family: var(--poppins);
    font-weight: 500;
    line-height: 27px;
    color: #333333;
    border-radius: 2rem;
    padding: 16px 24px;
    margin-right: 24px;
    z-index: 5;
    overflow: hidden;
    transition: all 0.2s ease-in-out;

    &:hover {
        opacity: 0.6;
    }
}