.description {
    position: relative;

    &__mark-top {
        @include mark-offset(430px, 85px, true);
    }

    &__mark-bottom {
        @include mark-offset(510px, 10px);
    }

    &__mark-bottom-mobile {
        display: none;

        @media (max-width: 576px) {
            display: block;
        }
    }

    &__mark-bottom-desktop {
        @media (max-width: 576px) {
            display: none;
        }
    }

    &__title {
        max-width: 536px;

        @media (max-width: 992px) {
            margin-bottom: 24px;
        }
    }

    &__text {
        max-width: 528px;
        opacity: 0.6;
    }

    &__title-container {
        display: flex;
        justify-content: space-between;
        margin-bottom: 72px;

        @media (max-width: 992px) {
            flex-direction: column;
        }

        @media (max-width: 576px) {
            margin-bottom: 56px;
        }
    }

    &__layout {
        padding-top: calc(var(--paddingLayout) + 45px);

        @media (max-width: 576px) {
            padding-top: var(--paddingLayout);
        }
    }

    &__item-text {
        font-size: 16px;

        & span {
            font-weight: 700;
        }

        @media (max-width: 576px) {
            font-size: 14px;
            max-width: 256px;
        }
    }

    &__item-img-container {
        width: 64px;
        height: 64px;
        background: radial-gradient(
            1196.01% 579.32% at 25% 0%,
            #e6efff 0%,
            #bfd4fd 100%
        );
        border-radius: 16px;
        margin-bottom: 24px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__items-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(256px, 1fr));
        grid-gap: 56px 32px;

        @media (max-width: 576px) {
            grid-gap: 32px;
        }
    }

    &__main-text {
        opacity: 0.6;
        display: none;
        margin-bottom: 64px;

        @media (max-width: 768px) {
            display: block;
        }
    }

    &__sign {
        margin-bottom: 25px;
    }

    &__content-container {
        display: flex;
        position: relative;

        svg {
            flex-shrink: 0;
        }
    }

    &__content {
        padding-left: 20px;
    }

    &__path {
        position: absolute;
        top: 25px;

        &-circle {
            position: absolute;
            left: -14px;
        }
    }
}
