.hero {
    position: relative;

    &__container {
        max-width: var(--container);
        margin: 207px auto 0;
        width: 90%;
        padding-bottom: 207px;

        &::before {
            @include angle-edge(
                $angle: 6.5,
                $angle-position-y: 'top',
                $angle-position-x: 'left'
            );
            position: absolute;
            content: '';
            background-color: var(--neutralLight);
            z-index: -1;
            top: 20px;
            bottom: 0;
            left: 0;
            right: 0;
        }
    }

    .el1 {
        & > img {
            position: absolute;
            right: 0;
            top: -47px;
            transform: rotateY(6.5deg);
            z-index: -1;
        }
    }

    .el2 {
        & > img {
            position: absolute;
            right: 0;
            top: 15px;
            transform: rotateY(6.5deg);
            z-index: -1;
        }
    }

    &__container2 {
        padding-bottom: 123px;
        position: relative;
    }

    &__title {
        font-family: var(--sora);
        font-weight: 700;
        @include font-size(56);
        max-width: 725px;
        margin-bottom: 68px;

        > span {
            color: var(--orange);
        }
    }

    &__content {
        display: flex;
        justify-content: space-between;
        margin-right: -10px;
    }

    &__main-text {
        @include font-size(18);
        font-family: var(--sora);
        font-weight: 300;
        max-width: 576px;
        line-height: 160%;
        color: var(--dark);
        margin-right: 10px;
    }

    &__items {
        display: flex;
        flex-direction: column;
        margin-right: 10px;
    }

    &__item {
        @include font-size(16);
        display: flex;
        color: var(--dark);
        line-height: 160%;

        &:not(:last-child) {
            margin-bottom: 48px;
        }

        & > p {
            max-width: 394px;
            min-width: 264px;
            font-weight: 300;

            & span {
                font-weight: 600;
            }
        }
    }

    &__item-border {
        flex-shrink: 0;
        height: 90%;
        width: 2px;
        background-color: var(--orange);
        margin: auto 24px auto 0;
    }
}
