.hero {
    position: relative;
    background-color: #10091D;

    @media (max-width: 700px) {
        background: linear-gradient(205.64deg, #07122A 26.16%, #16073A 94.65%);
    }

    &__top-right-mobile-ellipsis {
        display: none;
        @media (max-width: 700px) {
            display: block;
            position: absolute;
            right: 0;
            top: 0;
            height: 100%;
            width: 264px;
            background-size: contain;
            background-repeat: no-repeat;
            background-image: url(./images/integration/hero/top-right-mobile-ellipsis.svg);
        }
    }
    
    &__mark {
        position: absolute;
        mix-blend-mode: lighten;
        will-change: filter;
        height: 100%;
        background-size: contain;
        background-repeat: no-repeat;

        @media (max-width: 700px) {
            display: none;
        }

        &--yellow {
            width: 258px;
            right: 0;
            top: 0;
            background-image: url(./images/integration/hero/yellow-ellipsis.svg);
            background-size: contain;
            background-repeat: no-repeat;
        }

        &--red {
            width: 390px;
            right: 0;
            top: 0;
            background-image: url(./images/integration/hero/red-ellipsis.svg);
        }

        &--blue {
            width: 287px;
            left: 0;
            top: 0;
            background-image: url(./images/integration/hero/blue-left-ellipsis.svg);

            &-bottom {
                height: 439px;
                width: 600px;
                top: unset;
                left: -107px;
                bottom: -119px;
                background-size: cover;
                background-image: url(./images/integration/hero/blue-bottom-ellipsis.svg);
            }
        }

        &--lightBlueHighlight {
            height: 667px;
            width: 667px;
            top: 0;
            left: 0;
            background-size: contain;
            background-image: url(./images/integration/hero/blue-main-ellipsis.svg);
        } 

        &--blueHighlight {
            height: 100%;
            width: 750px;
            top: 0;
            left: 50%;
            background-size: contain;
            background-image: url(./images/integration/hero/blue-highlight.svg);
            transform: translateX(-50%);
        }

        &--lightBlue {
            width: 571px;
            height: 420px;
            left: 127px;
            bottom: -107px;
            background-size: cover;
            background-image: url(./images/integration/hero/lightblue-ellipsis.svg);
        }
    }

    &__container {
        position: relative;
        width: 90%;
        max-width: var(--container);
        z-index: 1;
        padding-top: 130px;
        padding-bottom: 120px;

        @media (max-width: 700px) {
            padding: var(--paddingLayout) 0;
            padding-left: 40px;
        }

        @media (min-width: 1650px) {
            padding-bottom: 160px;
        }

        @media (min-width: 2400px) {
            padding-bottom: 200px;
        }
    }

    &__content {
        &-flex {
            display: flex;
            align-items: center;

            &-column-mobile {
                @media (max-width: 700px) {
                    flex-direction: column;
                    align-items: flex-start;
                }
            }

            &--margin-bottom {
                margin-bottom: 56px;

                @media (max-width: 700px) {
                    margin-bottom: 23px;
                }
            }
        }

        &-logo {
            height: 48px;
            width: 48px;
            object-fit: contain;

            @media (max-width: 700px) {
                height: 32px;
                width: 32px;
            }

            &-wrapper {
                padding: 24px;
                background: white;
                box-shadow: 0px 20px 48px rgba(52, 72, 123, 0.1);
                border-radius: 12px;
                margin-right: 40px;

                @media (max-width: 700px) {
                    padding: 16px;
                    margin-right: 24px;
                }
            }
        }

        &-title {
            font-weight: 700;
            font-size: 56px;
            line-height: 110%;
            color: white;
            z-index: 1;

            @media (max-width: 700px) {
                font-size: 38px;
            }
        }

        &-cta {
            height: fit-content;
            width: fit-content;
            padding: 20px 32px;
            margin-right: 16px;

            @media (max-width: 700px) {
                font-size: 16px;
                line-height: 24px;
                padding: 12px 14px;
                margin-bottom: 16px;
            }

            &-outlined {
                background: none;
                border: 1px solid white;

                @media (max-width: 700px) {
                    padding-right: 16px;
                }

                &:hover {
                    background: none;
                }
            }
        }
    }
}