h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-family: var(--sora);
    color: var(--dark);
}

pre {
    position: relative;
    overflow: auto;

    button {
        color: #adb5bd;
        box-sizing: border-box;
        cursor: pointer;
        user-select: none;
        background: rgba(0, 0, 0, 0.15);
        border: none;
        padding: 12px 16px;
        width: 80px;
        font-size: 0.8em;
        position: absolute;
        top: 0;
        right: 0;
        border-radius: 0 8px;
        transition: opacity 0.4s ease-out, background-color 0.4s ease-out;

        &:hover {
            color: white;
            background-color: rgba(100%, 100%, 100%, 0.2);
        }

        &.copied {
            color: white;
            background-color: var(--orange);
        }

        @media (max-width: 725px) {
            color: white;
            background-color: rgba(100%, 100%, 100%, 0.2);
        }
    }
}

strong {
    font-weight: 700;
}

h1,
h2 {
    font-weight: 700;
    line-height: 1.1;
}

h3,
h4,
h5,
h6 {
    font-weight: 600;
}

h3,
h4,
h5 {
    line-height: 1.5;
}

h1 {
    font-size: 56px;
    text-align: center;
    margin: 40px 0;

    @media only screen and (max-width: 600px) {
        font-size: 48px;
    }
}

h2 {
    font-size: 38px;
    margin: 40px 0;
}

h3 {
    font-size: 30px;
    margin: 24px 0;
}

h4 {
    font-size: 24px;
    margin: 24px 0;
}

h5 {
    font-size: 20px;
    margin: 32px 0;
}

h6 {
    font-size: 18px;
    line-height: 1.8;
    margin: 32px 0;
}

p,
li,
ul,
ol,
dl {
    font-size: 18px;
    line-height: 1.8;
}

p {
    margin: 24px 0;
}

a {
    cursor: pointer;
    color: var(--blue);
    text-decoration-line: underline;
}

a[title~='CTA_SMALL'] {
    @include blogButton(#ffa600, #e99b0a, 16px, 2px 14px);
}

a[title~='CTA_LARGE'] {
    @include blogButton(#ffa600, #e99b0a, 18px, 6px 24px);
}

* > a[type='text'] {
    display: flex;
    align-items: center;
}

.article {
    img {
        display: block;
        margin: 35px auto;
        max-width: 100%;
        height: auto;
        object-fit: cover;
    }

    img[alt~='with-shadow'] {
        box-shadow: 0px 10px 28px 4px rgba(0, 0, 0, 0.45);
    }

    code {
        font-family: 'Roboto Mono', monospace;
        font-size: 16px !important;

        .token {
            font-family: 'Roboto Mono', monospace;
        }

        span {
            font-family: inherit;
        }

        .highlight-line:before {
            user-select: none;
            border-right: 1px solid #404040;
            color: #858585;
            content: counter(lineNumber);
            counter-increment: lineNumber;
            display: inline-block;
            font-variant-numeric: tabular-nums;
            font-family: 'Roboto Mono', monospace;
            margin-right: 15px;
            padding-right: 20px;
            text-align: right;
            width: 10px;
        }
    }

    p {
        code {
            padding: 2px 3px 1px;
            font-family: ui-monospace, SFMono-Regular, “SF Mono”, Menlo, Consolas, “Liberation Mono”, monospace;
            border-radius: 6px;
            background-color: rgba(175, 184, 193, 0.2);
            color: rgb(36, 41, 47);
            padding-bottom 2.38px
            padding-left 4.76px
            padding-right 4.76px
            padding-top 2.38px
        }
    }

    pre {
        font-size: 16px !important;
        color: var(--white);
        line-height: 19px !important;
        background: var(--dark) !important;
        border-radius: 8px !important;
        margin: 30px 0 !important;
        padding: 24px !important;
        counter-reset: lineNumber;
    }

    ol,
    ul {
        list-style: revert;
        padding-left: 1em;
    }

    ul {
        list-style: none; /* Remove default bullets */
    }

    ul li::before {
        content: '\2022';
        color: red;
        font-weight: 700;
        display: inline-block;
        width: 1em;
        margin-left: -1em;
    }

    blockquote {
        position: relative;
        margin: 56px 0;

        &::before {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            height: 100%;
            width: 3px;
            background-color: var(--orange);
        }

        & p {
            padding: 7px 0px 7px 56px;
            font-style: italic;
        }
    }

    table {
        color: #000000;
        margin: 64px 0;

        tr {
            th {
                background: #d7e5ff;
                padding: 16px;
                font-weight: 600;

                &:first-child {
                    border-top-left-radius: 16px;
                    border-bottom-left-radius: 16px;
                }

                &:last-child {
                    border-top-right-radius: 16px;
                    border-bottom-right-radius: 16px;
                }
            }
        }

        td {
            font-size: 16px;
            border: solid 1px #d7e5ff;
            padding: 27px 23px;
            vertical-align: middle;
            font-size: 16px;
            line-height: 1.8;

            &:first-child {
                border-left: none;
            }

            &:last-child {
                border-right: none;
            }
        }

        tr {
            &:first-child {
                td {
                    padding-top: 38px;
                    border-top: none;
                }
            }

            &:last-child {
                td {
                    border-bottom: none;
                }
            }
        }
    }
}
