.list {
    &__title {
        margin-top: 0;
        text-align: left;
    }

    &__posts {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(305px, 352px));
        grid-gap: 10px;
    }

    &__pagination {
        margin-top: 40px;

        &-button {
            display: block;
            width: fit-content;
            border: 1px solid rgba(3, 3, 45, 0.4);
            border-radius: 200px;
            padding: 8px 36px;
            text-decoration: none;
            color: var(--dark);
            font-weight: 500;
            font-size: 18px;
            line-height: 27px;
        }

        &-previous {
            margin-right: auto;
        }

        &-next {
            margin-left: auto;
        }
    }

    &__card {
        color: inherit;
        text-decoration: none;
        display: flex;
        flex-direction: column;
        border: 1px solid #e7efff;
        box-sizing: border-box;
        border-radius: 16px;
        min-height: 408px;
        overflow: hidden;
        transition: all 0.4s;

        &-image-container {
            height: 192px;
            max-height: 192px;
            overflow: hidden;
            border-radius: 16px;
        }

        &-image {
            width: 100%;
            height: 100%;
            background-size: cover;
            background-position: center;
            transition: transform 0.4s;
        }

        &-content {
            padding: 24px 24px 32px 24px;
        }

        &-date {
            margin-bottom: 24px;
            color: var(--dark);
            opacity: 0.4;
            font-size: 14px;
            line-height: 24px;
        }

        &-title {
            font-size: 20px;
            line-height: 1.6;
            margin-bottom: 16px;
            transition: color 0.4s;
        }

        &-excerpt {
            font-size: 16px;
            line-height: 24px;
        }

        &:focus,
        &:focus-visible,
        &:hover {
            .list__card-image {
                transform: scale(1.2);
            }
        }

        &:hover {
            border: 1px solid var(--dark);

            .list__card-title {
                color: var(--orange);
            }
        }

        &:focus,
        &:focus-visible {
            border: 1px solid var(--blue);
            outline: none;

            .list__card-title {
                color: var(--blue);
            }
        }
    }
}
