.hero {
    &__background--desktop {
        top: 30%;
        display: block;

        @media only screen and (max-width: 992px) {
            display: none;
        }

        @media only screen and (min-width: 2500px) {
            top: 25%;
        }

        @media only screen and (min-width: 3500px) {
            top: 15%;
        }
    }

    &__background--mobile {
        display: none;
        width: 110%;
        margin-left: -5%;

        @media only screen and (max-width: 992px) {
            display: block;
        }
    }

    &__mark-small {
        @include mark-offset(510px, 90px);
        top: -24px;

        @media only screen and (max-width: 1200px) {
            top: -40px;
        }
    }

    &__mark-big {
        @include mark-offset(370px, 40px);

        @media only screen and (max-width: 1200px) {
            top: -24px;
        }
    }

    &__layout {
        padding-bottom: 207px;
        display: block;

        @media only screen and (max-width: 992px) {
            padding: 0;
            margin: 88px auto 0;
        }
    }

    &__short-mark {
        position: absolute;
        right: 0;
        top: -47px;
        z-index: -1;
    }

    &__long-mark {
        & > img {
            position: absolute;
            right: 0;
            top: 15px;
            z-index: -1;
        }
    }

    &__container2 {
        padding-bottom: 123px;
        position: relative;
    }

    &__title {
        @include font-size(56);
        font-family: var(--sora);
        font-weight: 700;
        max-width: 725px;
        margin-bottom: 68px;
        line-height: 110%;

        > span {
            color: var(--orange);
        }

        @media only screen and (max-width: 992px) {
            max-width: 525px;
            @include font-size(38);
            margin-bottom: 8px;
        }
    }

    &__content {
        position: relative;
        margin-right: -10px;
    }

    &__info-container {
        display: flex;
        justify-content: space-between;

        @media only screen and (max-width: 992px) {
            --paddingBase: 16px;
            flex-direction: column;
            padding: calc(
                    var(--triangleHeight) + var(--paddingBase) -
                        var(--angleSine) * var(--gutterWidth)
                )
                0 73px 0;
        }
    }

    &__main-text {
        @include font-size(18);
        font-family: var(--sora);
        font-weight: 300;
        max-width: 576px;
        line-height: 160%;
        color: var(--dark);
        margin-right: 10px;
        opacity: 0.6;

        @media only screen and (max-width: 992px) {
            max-width: none;
            margin-bottom: 48px;
            @include font-size(16);
            opacity: 0.8;
        }
    }

    &__items {
        display: flex;
        flex-direction: column;
        margin-right: 10px;
    }

    &__item {
        @include font-size(16);
        display: flex;
        color: var(--dark);
        line-height: 160%;

        &:not(:last-child) {
            margin-bottom: 48px;
        }

        & > p {
            max-width: 394px;
            min-width: 264px;
            font-weight: 300;

            & span {
                font-weight: 600;
            }
        }

        @media only screen and (max-width: 992px) {
            @include font-size(14);
        }
    }

    &__item-border {
        flex-shrink: 0;
        height: 90%;
        width: 2px;
        background-color: var(--orange);
        margin: auto 24px auto 0;

        @media only screen and (max-width: 992px) {
            height: auto;
            margin: 0 24px 0 0;
        }
    }
}
