.founders {
    position: relative;

    @media screen and (max-width: 992px) {
        min-height: 1270px;
    }

    &__mark-big {
        @include mark-offset(500px, 100px, true);
        bottom: calc(var(--triangleHeight) + 48px);

        @media only screen and (max-width: 1200px) {
            bottom: calc(var(--triangleHeight) + 24px);
        }
    }

    &__mark-small {
        @include mark-offset(355px, 50px, true);

        bottom: var(--triangleHeight);
    }

    &__layout {
        display: flex;
        flex-direction: column;
        padding: 118px 0 calc(var(--triangleHeight) + 50px);

        @media (max-width: 992px) {
            padding: 72px 0 calc(var(--triangleHeight) + 50px);
        }
    }

    &__info {
        display: flex;
        justify-content: space-between;
        padding-left: 65px;
        position: absolute;
        max-width: 1120px;
        width: 90%;
        box-sizing: border-box;

        @media (max-width: 992px) {
            width: auto;
            position: relative;
            padding-left: 20px;
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
    }

    &__text {
        margin-top: 32px;
        opacity: 0.6;
        max-width: 576px;
    }

    &__card {
        width: 245px;
        height: 148px;
        background: rgba($color: #d7e5ff, $alpha: 0.4);
        border-radius: 16px;
        display: flex;
        align-items: center;
        padding-left: 63px;
        box-sizing: border-box;
        position: relative;
        margin-top: 29px;

        & span {
            font-weight: 600;
            font-size: 16px;
            line-height: 120%;
            color: #03032d;
            max-width: 178px;
        }

        @media (max-width: 768px) {
            display: none;
        }
    }

    &__card-img-container {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        filter: drop-shadow(2px 4px 25px rgba(3, 3, 45, 0.11));
    }

    &__card-f5 {
        width: 80px;
        height: 80px;
        background: var(--white);
        border-radius: 100px;
        top: -12px;
        left: -23px;
    }

    &__card-microsoft {
        width: 144px;
        height: 48px;
        background: var(--white);
        border-radius: 34px;
        bottom: -19px;
        right: 23px;
    }

    &__card-auth0 {
        width: 106px;
        height: 48px;
        background: var(--white);
        border-radius: 34px;
        top: -30px;
        right: -30px;
    }

    &__path-container {
        position: relative;
    }

    &__path {
        width: 100%;
    }

    &__ellipse {
        transform: translateX(-50%);
    }

    &__founder {
        transform: translate(-50%, -56px);
        display: flex;
        align-items: center;
        flex-direction: column;

        @media screen and (max-width: 1200px) {
            transform: translate(-50%, -44px);
        }

        @media (max-width: 992px) {
            position: static;
            transform: translateY(-44px);
        }
    }

    &__founder--svg {
        width: 24.5%;
        border-radius: 16px;
        height: 42%;
        position: absolute;
        bottom: 1%;
    }

    &__founder-1 {
        left: 18%;

        @media screen and (max-width: 992px) {
            position: absolute;
            top: 350px;
            left: 24px;
        }
    }

    &__founder-2 {
        left: 53%;

        @media screen and (max-width: 992px) {
            position: absolute;
            bottom: -800px;
            left: 24px;
        }
    }

    &__founder-3 {
        left: 88%;

        @media screen and (max-width: 992px) {
            position: absolute;
            bottom: -1064px;
            left: 24px;
        }
    }

    &__founder-img-container {
        width: 112px;
        height: 112px;
        background-color: var(--lightYellow);
        border-radius: 50%;
        overflow: hidden;
        position: relative;
        margin-bottom: 24px;
        flex-shrink: 0;

        & > img {
            width: 100%;
            position: absolute;
            bottom: -5px;
        }

        @media screen and (max-width: 1200px) {
            width: 88px;
            height: 88px;
        }
    }

    &__people--desktop {
        display: block;

        @media screen and (max-width: 992px) {
            display: none;
        }
    }

    &__people--mobile {
        display: none;

        @media screen and (max-width: 992px) {
            position: relative;
            top: 20px;
            left: 0px;
            display: flex;
            flex-direction: column;
        }
    }

    &__card--container {
        width: 232px;
        height: 182px;
        box-sizing: border-box;
        border: 2px solid #d7e5ff;
        border-radius: 16px;
        position: absolute;
    }

    &__first-mobile-path {
        position: absolute;
        top: 4px;
        left: 0;
    }

    &__second-mobile-path {
        position: absolute;
        top: 87px;
        right: -27px;
    }

    &__third-mobile-path {
        position: absolute;
        top: 92px;
        left: -27px;
    }

    &__mobile-path-circle {
        position: absolute;
        top: -14px;
        transform: translateX(-50%);
    }
}
