.features {
    position: relative;
    padding-top: 100px;

    @media only screen and (max-width: 1000px) {
        padding-top: 50px;
        padding-bottom: 0;
    }

    &__ellipsis {
        position: absolute;
        left: 0;
        bottom: -443px;
        height: 1136px;
        width: 100%;
        background-size: contain;
        background-repeat: no-repeat;
        background-image: url(./images/fusebot/features/ellipsis.svg);
        z-index: -1;

        @media only screen and (min-width: 2500px) {
            bottom: -1649px;
            height: 2436px;
        }

        @media only screen and (max-width: 1270px) {
            bottom: -30px;
            height: 722px;
        }

        @media only screen and (max-width: 1000px) {
            width: 100%;
            height: 715px;
            bottom: -500px;
            left: 50%;
            transform: translateX(-50%);
            background-image: url(./images/fusebot/features/ellipsis-mobile.svg);
        }
    }

    &__mark {
        @include mark-offset(250px, 25px, false, true);
    }

    &__container  {
        width: 90%;
        max-width: var(--container);
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        margin: 0 auto;
    }

    &__wrapper {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding-bottom: 50px;
    }

    &__icon {
        width: 41px;
        height: 32px;
        background-size: contain;
        background-repeat: no-repeat;
        margin-right: 8px;

        @media only screen and (max-width: 1000px) {
            height: 24px;
            width: 18px;
        }

        &-fusebot {
            height: 56px;
            width: 56px;
            margin-left: 3px;
            background-image: url(./images/fusebot/features/fusebot.svg);

            @media only screen and (max-width: 1000px) {
                height: 28px;
                width: 28px;
            }
        }

        &-slack {
            background-image: url(./images/fusebot/features/slack.svg);
        }

        &-discord {
            background-image: url(./images/fusebot/features/discord.svg);
        }
    }

    &__title {
        font-size: 40px;
        font-weight: 600;
        line-height: 48px;
        color: #333333;

        @media only screen and (max-width: 1000px) {
            font-size: 24px;
            line-height: 28px;
        }

        &-wrapper {
            display: flex;
            align-items: center;
            margin-bottom: 36px;

            @media only screen and (max-width: 1000px) {
                margin-bottom: 32px;
            }
        }
    }

    &__feature {
        font-size: 18px;
        color: var(--dark);

        @media only screen and (max-width: 1000px) {
            font-size: 16px;
            line-height: 26px;
        }

        &-wrapper {
            display: flex;
            align-items: center;
            width: 100%;

            &:not(:last-child) {
                margin-bottom: 100px;

                @media only screen and (max-width: 1000px) {
                    margin-bottom: 80px;
                }
            }

            &:nth-child(even) {
                flex-direction: row-reverse;

                @media only screen and (max-width: 1000px) {
                    flex-direction: column;
                }

                iframe {
                    margin-right: auto;

                    @media only screen and (max-width: 1000px) {
                        margin-right: 0;
                    }
                }
            }

            &:nth-child(odd) {
                iframe {
                    margin-left: auto;

                    @media only screen and (max-width: 1000px) {
                        margin-left: 0;
                    }
                }
            }

            @media only screen and (max-width: 1000px) {
                flex-direction: column;
                align-items: flex-start;
            }
        }

        &-amenity-wrapper {
            display: flex;
            align-items: center;
            margin-bottom: 16px;
        }

        &-icon {
            height: 24px;
            width: 24px;
            background-size: contain;
            background-repeat: no-repeat;
            margin-right: 8px;

            &-control {
                background-image: url(./images/fusebot/features/control.svg);
            }

            &-money {
                background-image: url(./images/fusebot/features/money.svg);
            }

            &-code {
                background-image: url(./images/fusebot/features/code.svg);
            }

            &-code-with-dots {
                background-image: url(./images/fusebot/features/code-with-dots.svg);
            }

            &-search {
                background-image: url(./images/fusebot/features/search.svg);
            }

            &-update {
                background-image: url(./images/fusebot/features/update.svg);
            }

            &-build {
                background-image: url(./images/fusebot/features/build.svg);
            }

            &-verified {
                background-image: url(./images/fusebot/features/verified.svg);
            }
        }

        &-video {
            position: relative;
            width: 544px;
            height: 304px;
            border-radius: 8px;

            @media only screen and (max-width: 1200px) {
                width: 420px;
            }

            @media only screen and (max-width: 1000px) {
                width: 100%;
                margin-top: 48px;
            }
        }
    }

    &__cta {
        font-size: 16px;
        line-height: 24px;
        padding: 12px 20px;
        margin-top: 44px;

        @media only screen and (max-width: 1000px) {
            margin-top: 24px;
        }
    }
}