.hero {
    position: relative;

    &__bg {
        position: absolute;
        top: -500px;
        left: calc(50% - 1300px);
    }

    &__mark {
        @include mark-offset(310px, 10px, true);
    }

    &__layout {
        padding-top: 128px;

        @media (max-width: 992px) {
            padding-top: var(--paddingLayout);
        }

        @media (max-width: 576px) {
            padding-bottom: 120px;
            width: 75%;
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        margin-right: -15px;
    }

    &__title {
        margin-bottom: 32px;
        line-height: 110%;

        @media (max-width: 576px) {
            margin-bottom: 32px;
        }
    }

    &__title-container {
        margin-right: 15px;
    }

    &__description {
        line-height: 160%;
        display: flex;
        justify-content: space-between;

        p {
            max-width: 544px;
            color: var(--white);
            opacity: 0.8;
        }
    }

    &__items-container {
        display: flex;
        position: relative;
        margin-right: 100px;

        &-line {
            width: 2px;
            height: 90%;
            margin-right: 31px;
            background-color: #4c4e6e;
            position: absolute;
            left: 0;
            top: 5%;
        }
    }

    &__item {
        display: flex;

        p {
            margin-left: 31px;
        }

        &:not(:last-child) {
            margin-bottom: 32px;
        }

        &-icon-wrapper {
            border-radius: 50%;
            transform: translateX(calc(-50% + 1px));
            position: absolute;
            left: 0;
            padding: 3px;
            background: #04093F;
        }

        &-icon {
            width: 10px;
            height: 10px;
        }
    }
}
