.gallery {
    position: relative;

    &__mark-top {
        @include mark-offset(430px, 85px, true);
    }

    &__mark-bottom {
        @include mark-offset(510px, 10px, false, true);
    }

    &__mark-bottom-mobile {
        @include showOnly('mobile');
    }

    &__mark-bottom-desktop {
        @media (max-width: 576px) {
            display: none;
        }
    }

    &__title {
        text-align: left;
    }

    &__text {
        max-width: 528px;
        opacity: 0.6;
    }

    &__title-container {
        display: flex;
        justify-content: space-between;
        margin-bottom: 72px;

        @media (max-width: 992px) {
            flex-direction: column;
        }

        @media (max-width: 576px) {
            margin-bottom: 56px;
        }
    }

    &__layout {
        padding-top: calc(var(--paddingLayout) + 45px);

        @media (max-width: 576px) {
            padding-top: var(--paddingLayout);
        }
    }

    &__item-text {
        font-size: 16px;

        & span {
            font-weight: 700;
        }

        @media (max-width: 576px) {
            font-size: 14px;
            max-width: 256px;
        }
    }

    &__item-img-container {
        width: 64px;
        height: 64px;
        background: radial-gradient(
            1196.01% 579.32% at 25% 0%,
            #e6efff 0%,
            #bfd4fd 100%
        );
        border-radius: 16px;
        margin-bottom: 24px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__items-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(256px, 1fr));
        grid-gap: 56px 32px;

        @media (max-width: 576px) {
            grid-gap: 32px;
        }
    }

    &__main-text {
        opacity: 0.6;
        margin-bottom: 64px;

        @include showOnly('tablet');
    }

    &__sign {
        margin-bottom: 25px;

        @include showOnly('tablet');
    }

    &__content-container {
        display: flex;
        position: relative;

        svg {
            flex-shrink: 0;
        }
    }

    &__content {
        @media (max-width: 576px) {
            padding-left: 20px;
        }
    }

    &__path {
        position: absolute;
        top: 27px;

        &-circle {
            position: absolute;
            left: -14px;
            top: 7px;

            @include showOnly('mobile');
        }

        @include showOnly('mobile');
    }

    &__dot {
        opacity: 0;
    }

    &__initial-dot {
        top: 7px;
    }

    &__dot,
    &__initial-dot {
        @include showOnly('mobile');
    }

    &__grid {
        display: grid;
        grid-template-columns: auto auto auto;
        margin-top: 75px;
        row-gap: 54px;
    }

    &__item-container {
        display: flex;
        align-items: center;

        &-title {
            font-weight: 600;
            font-size: 18px;
            line-height: 180%;
            color: var(--dark);
        }

        &-logo {
            box-shadow: 14px 14px 74px rgba(52, 72, 123, 0.1);
            width: 80px;
            height: 80px;
            background: linear-gradient(0deg, #ffffff, #ffffff),
                radial-gradient(
                    1420.26% 1167.98% at 0% -11.72%,
                    #e6efff 0%,
                    rgba(191, 212, 253, 0) 100%
                );
            border-radius: 16px;
            margin-right: 16px;
            padding: 20px;
            box-sizing: border-box;

            img {
                object-fit: contain;
                height: 100%;
                width: 100%;
            }
        }

        &-cta {
            min-height: 32px;
            display: flex;
            align-items: center;
            box-sizing: border-box;
            border-radius: 200px;
            padding: 0 16px;
            background: transparent;
            border: 1px solid var(--orange);
            color: var(--orange);
            font-weight: 600;
            font-size: 14px;
            line-height: 151%;

            &--disabled {
                border: 1px solid var(--lightYellow);
                color: var(--lightYellow);
            }
        }
    }
}
