.investors {
    position: relative;

    &__angled-section {
        @include angled-section();
        background: var(--neutralLight);
    }

    &__mark-right {
        position: absolute;
        width: 18vw;
        min-width: 242px;
        height: 24px;
        top: 0;
        left: calc(50% + 450px);
        width: 100%;
        border-radius: 210px;
        background: linear-gradient(85.95deg, #020084 4.26%, #d2e4ff 86.68%);
        mix-blend-mode: normal;
        opacity: 0.6;
        border-radius: 210px;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }

    &__container {
        padding: 241px 0 120px;
        @media screen and (min-width: 3000px) {
            padding: 300px 0 120px;
        }
        @media screen and (min-width: 4000px) {
            padding: 400px 0 120px;
        }
    }

    &__short-mark {
        & > img {
            position: absolute;
            left: 0;
            top: 14vw;
            transform: rotate(180deg);
            z-index: -1;
        }
    }

    &__long-mark {
        & > img {
            position: absolute;
            left: 0;
            top: calc(14vw - 68px);
            transform: rotate(180deg);
            z-index: -1;
        }
    }

    &__medium-mark {
        & > img {
            position: absolute;
            right: 0;
            top: 19px;
            z-index: -1;
        }
    }

    &__title-container {
        text-align: center;

        & h2 {
            max-width: none;
        }

        & p {
            max-width: none;
            margin-top: 24px;
        }
    }

    &__content {
        margin-top: 72px;
        display: flex;
        justify-content: space-between;
        margin-right: -10px;
    }

    &__card {
        padding: 40px;
        background: var(--white);
        border-radius: 16px;
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        max-width: 538px;
        min-height: 326px;
        justify-content: space-between;
        margin-right: 10px;
    }

    &__card-text {
        @include font-size(16);
        margin: 32px 0 14px;

        & span {
            font-weight: 600;
        }
    }

    &__card-footer {
        display: flex;
    }

    &__card-person {
        display: flex;
        flex-direction: column;
    }

    &__card-name {
        @include font-size(16);
        margin-bottom: 8px;
        font-weight: 600;
        line-height: 20px;
        color: var(--dark);
    }

    &__card-position {
        @include font-size(16);
        line-height: 20px;
        color: rgba(3, 3, 45, 0.5);
        opacity: 0.6;
    }

    &__card-img-container {
        width: 54px;
        height: 54px;
        border-radius: 50%;
        margin-right: 13px;
    }
}
