.prefooter {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--dark);
    padding-bottom: 10rem;
    overflow: hidden;

    &__container {
        position: relative;
        width: 90%;
        max-width: var(--container);
        display: flex;
        z-index: 3;

        @media only screen and (max-width: 1000px) {
            flex-direction: column;
        }
    }

    &__background {
        z-index: 2;
    }

    &__mark {
        @include mark-offset(450px, 90px);
    }

    &__content {
        flex: 1;
        max-width: 664px;

        @media only screen and (max-width: 1000px) {
            margin-bottom: 5rem;
        }
    }

    &__title {
        position: relative;
        left: -500px;
        opacity: 0;
        width: 100%;
        max-width: 650px;
        @include titles;

        & > span {
            font-family: var(--sora);
            color: var(--orange);
        }

        @media only screen and (max-width: 1200px) {
            max-width: 700px;
            @include font-size(42);
        }

        @media only screen and (max-width: 700px) {
            @include font-size(32);
            line-height: 42px;
        }
    }

    &__text {
        position: relative;
        left: -500px;
        opacity: 0;
        width: 100%;
        max-width: 720px;
        @include font-size(20);
        line-height: 32px;
        color: var(--neutralDark);
        font-weight: 300;
        margin-bottom: 2.5rem;

        @media only screen and (max-width: 1200px) {
            max-width: 600px;
        }

        @media only screen and (max-width: 700px) {
            @include font-size(16);
        }
    }

    &__cta {
        position: relative;
        left: -500px;
        opacity: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 200px;
        height: 64px;
        background: var(--orange);
        border-radius: 10rem;
        overflow: hidden;
        z-index: 1;
        transition: all 0.2s;

        &--text,
        &--icon {
            position: relative;
            z-index: 1;
        }

        &--text {
            font-family: var(--poppins);
            @include font-size(18);
            font-weight: 500;
            color: #ffffff;
            margin-right: 0.5rem;
            transition: all 0.4s ease-in-out;
        }

        &:hover {
            background: var(--orangeDark);
        }

        &:active {
            background: var(--yellow);
        }
    }

    &__animation-container {
        position: relative;

        img {
            height: 100%;
            object-fit: contain;
            z-index: 10;

            @media only screen and (max-width: 576px) {
                width: 320px;
            }
        }

        @media only screen and (max-width: 576px) {
            margin-bottom: 100px;
        }
    }

    .prefooter__animation {
        width: 100%;
        position: absolute;
        top: -83px;

        @media only screen and (max-width: 1000px) {
            position: relative;
            right: -105%;
            transform: translateX(-100%);
            width: fit-content;
        }

        @media only screen and (max-width: 576px) {
            top: 0;
            left: 50%;
            transform: translateX(-50%);
        }
    }

    &__dot-desktop-path {
        position: absolute;
        top: -3px;
        left: 0;
        transform: translateX(-35%);
        z-index: -1;
        display: block;

        @media only screen and (max-width: 576px) {
            display: none;
        }
    }

    &__dot-mobile-path {
        display: none;

        @media only screen and (max-width: 576px) {
            display: block;
            position: absolute;
            top: 8px;
            left: 0;
            z-index: -1;
        }
    }

    &__mobile-path-circle {
        position: absolute;
        right: 67px;
        top: 2px;
    }

    &__path {
        &--dot {
            position: absolute;
            top: 0.45rem;
            right: 8rem;
            transform-origin: center center;
            transform: translate(-36%, 3px);
            width: 10px;
            height: 10px;
            border-radius: 1rem;
            background: var(--yellow);
            z-index: 99;

            &::before {
                content: '';
                position: absolute;
                top: 50%;
                left: 50%;
                transform-origin: center;
                transform: translate(-50%, -50%) scale(0);
                width: 100%;
                height: 100%;
                border-radius: 2rem;
                background: radial-gradient(
                    closest-side,
                    var(--yellow),
                    rgba(0, 0, 0, 0)
                );
                transition: all 0.1s;
            }

            &--blured {
                background: rgba(0, 0, 0, 0);

                &::before {
                    transform: translate(-50%, -50%) scale(5);
                }
                opacity: 0.2;
            }

            @media only screen and (max-width: 1000px) {
                transform: translate(90%, 3px);
            }

            @media only screen and (max-width: 576px) {
                display: none;
            }
        }
    }

    @media only screen and (max-width: 1000px) {
        padding-bottom: 0;
    }
}
