.description {
    position: relative;

    &__mark-top {
        @include mark-offset(430px, 100px, true);
    }

    &__mark-bottom {
        @include mark-offset(510px, 100px);
    }

    &__title {
        max-width: 536px;
    }

    &__text {
        max-width: 528px;
        opacity: 0.6;
    }

    &__title-container {
        display: flex;
        justify-content: space-between;
        margin-bottom: 72px;
    }

    &__layout {
        padding-top: calc(var(--paddingLayout) - -45px);
    }

    &__item-text {
        & span {
            font-weight: 700;
        }
    }

    &__item-img-container {
        width: 64px;
        height: 64px;
        background: radial-gradient(
            1196.01% 579.32% at 25% 0%,
            #e6efff 0%,
            #bfd4fd 100%
        );
        border-radius: 16px;
        margin-bottom: 24px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__items-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(256px, 1fr));
        grid-gap: 56px 32px;
    }
}
