.hero {
    position: relative;

    &__mark {
        @include mark-offset(310px, 100px, true);
    }

    &__bg {
        position: absolute;
        top: 0;
        left: calc(50% - 680px);
    }

    &__layout {
        padding-top: 216px;
    }

    &__content {
        display: flex;
        justify-content: space-between;
    }

    &__title {
        max-width: 376px;
        margin-bottom: 51px;
        line-height: 110%;
    }

    &__cta {
        width: 261px;
    }

    &__description {
        margin-bottom: -41px;

        & p {
            margin-bottom: 41px;
            max-width: 635px;
            color: var(--white);
            opacity: 0.8;
        }
    }
}
