.founders {
    position: relative;

    &__mark-left--big {
        position: absolute;
        background: linear-gradient(85.95deg, #020084 4.26%, #d2e4ff 86.68%);
        mix-blend-mode: normal;
        opacity: 0.6;
        left: 0;
        border-radius: 210px;
        height: 48px;
        bottom: 0;
        width: 20vw;
        transform: rotate(180deg);
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }

    &__mark-left--small {
        position: absolute;
        opacity: 0.6;
        left: 0;
        bottom: 48px;
        width: 10vw;
        height: 24px;
        background: linear-gradient(
            85.9deg,
            #d7e5ff 4.26%,
            rgba(240, 242, 246, 0) 53.89%
        );
        border-radius: 210px;
        transform: rotate(180deg);
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }

    &__layout {
        display: flex;
        flex-direction: column;
        padding-top: 118px;
    }

    &__info {
        display: flex;
        justify-content: space-between;
        padding-left: 65px;
        position: absolute;
        max-width: 1120px;
        width: calc(100% - 30px);
        box-sizing: border-box;
    }

    &__content {
        display: flex;
        flex-direction: column;
    }

    &__text {
        margin-top: 32px;
        opacity: 0.6;
        max-width: 576px;
    }

    &__card {
        width: 245px;
        height: 148px;
        background: rgba($color: #d7e5ff, $alpha: 0.4);
        border-radius: 16px;
        display: flex;
        align-items: center;
        padding-left: 63px;
        box-sizing: border-box;
        position: relative;
        margin-top: 29px;

        & span {
            font-weight: 600;
            font-size: 16px;
            line-height: 120%;
            color: #03032d;
            max-width: 178px;
        }
    }

    &__card-img-container {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        filter: drop-shadow(2px 4px 25px rgba(3, 3, 45, 0.11));
    }

    &__card-f5 {
        width: 80px;
        height: 80px;
        background: var(--white);
        border-radius: 100px;
        top: -12px;
        left: -23px;
    }

    &__card-microsoft {
        width: 144px;
        height: 48px;
        background: var(--white);
        border-radius: 34px;
        bottom: -19px;
        right: 23px;
    }

    &__card-auth0 {
        width: 106px;
        height: 48px;
        background: var(--white);
        border-radius: 34px;
        top: -30px;
        right: -30px;
    }

    &__path-container {
        position: relative;
    }

    &__path {
        width: 100%;
    }

    &__ellipse {
        transform: translateX(-50%);
    }

    &__founder {
        width: 24.5%;
        border-radius: 16px;
        height: 42%;
        position: absolute;
        bottom: 1%;
        transform: translate(-50%, -56px);
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    &__founder-1 {
        left: 18%;
    }

    &__founder-2 {
        left: 53%;
    }

    &__founder-3 {
        left: 88%;
    }

    &__founder-img-container {
        width: 112px;
        height: 112px;
        background-color: var(--lightYellow);
        border-radius: 50%;
        overflow: hidden;
        position: relative;
        margin-bottom: 24px;
        flex-shrink: 0;

        & > img {
            width: 100%;
            position: absolute;
            bottom: -5px;
        }
    }
}
