.guide {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;

    &__integrations {
        position: absolute;
        top: 190px;
        right: 0;
        height: 100%;
        width: 400px;
        background-size: contain;
        background-image: url(./images/integration/guide/integrations.svg);
        background-repeat: no-repeat;
    }

    &__background {
        z-index: 1;
    }

    &__container {
        position: relative;
        width: 90%;
        max-width: var(--container);
        z-index: 1;
    }

    &__mark-small {
        @include mark-offset(85px, 90px);
        top: -24px;

        @media only screen and (max-width: 1200px) {
            top: -40px;
        }
    }

    &__mark-big {
        @include mark-offset(245px, 40px);

        @media only screen and (max-width: 1200px) {
            top: -24px;
        }
    }

    &__content {
        &-title {
            font-size: 48px;
            font-weight: 700;
            color: #333333;
            line-height: 180%;
            margin-bottom: 60px;
        }

        &-instructions {
            font-size: 18px;
            color: #03032D;
            opacity: 0.6;
            line-height: 180%;
            max-width: 676px;

            p {
                margin-bottom: 30px;  
            }

            ol {
                margin-bottom: 30px;
                list-style: decimal;
            }
        }
    }
}