.popular {
    position: relative;
    z-index: 1;
    background-size: cover !important;
    background-image: url(./images/integration/popular/background.svg);
    background-repeat: no-repeat;

    &-lines {
        position: absolute;
        top: 137px;
        right: 0;
        width: 400px;
        height: 100%;
        background-size: contain;
        background-repeat: no-repeat;
        background-image: url(./images/integration/popular/background-lines.svg);
    }

    &__container {
        position: relative;
        width: 90%;
        max-width: var(--container);
        z-index: 1;
    }

    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        &-title {
            font-size: 48px;
            line-height: 53px;
            font-weight: 700;
            color: white;
            margin-bottom: 88px;
        }

        &-integration {
            display: flex;
            align-items: center;
            background: white;
            padding: 32px 40px;
            border-radius: 16px;
            box-shadow: 0px 20px 48px rgba(52, 72, 123, 0.1);
            width: calc(100% - 80px);
            margin-bottom: 48px;

            &-icon {
                height: 48px;
                width: 48px;
                object-fit: contain;
            }

            &-description {
                &-wrapper {
                    display: flex;
                    flex-direction: column;
                    margin: 0 48px;
                    overflow: hidden;
                    width: 100%;
                }

                &-title {
                    font-size: 16px;
                    line-height: 160%;
                    font-weight: 600;
                    color: #959595;
                    margin-bottom: 4px;
                }

                &-text {
                    font-size: 18px;
                    line-height: 160%;
                    color: var(--dark);
                    font-weight: 600;
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                }
            }

            &-cta {
                font-size: 16px;
                line-height: 24px;
                font-weight: 700;
                height: 40px;
                width: 130px;

                &-outlined {
                    font-family: var(--poppins);
                    font-size: 18px;
                    line-height: 27px;
                    font-weight: 500;
                    background: none;
                    border: 1px solid #FFFFFF;
                    color: white;
                    width: 260px;
                    margin-top: 40px;

                    &:hover {
                        background: none;
                    }
                }
            }
        }
    }
}