.post {
    &__hero-layout {
        display: flex;
        align-items: center;
        flex-direction: column;
        padding-top: 306px;
        padding-bottom: calc(var(--paddingLayout) + 150px);
    }

    &__content-layout {
        // padding-top: 128px;
    }

    &__article {
        padding: 84px 0;
        max-width: 736px;
        margin: 0 auto;
    }

    &__date {
        color: #9c9fb3;
        font-size: 16px;
        line-height: 1.1;
    }

    &__info {
        display: flex;
        align-items: center;
    }

    &__info-divider {
        margin-left: 31px;
        margin-right: 31px;
        background-color: #d7e5ff;
        width: 2px;
        height: 32px;
    }

    &__autor {
        display: flex;
        align-items: center;
    }

    &__autor-name {
        margin-left: 16px;
        font-family: var(--sora);
        font-weight: 600;
        font-size: 18px;
        line-height: 23px;
        color: var(--dark);
    }

    &__tags {
        display: flex;
        justify-content: center;
        color: #f7806c;

        & img {
            margin-right: 8px;
        }
    }

    &__tag {
        color: #f7806c;
        text-transform: capitalize;
        text-decoration: none;
    }

    &__hero-image {
        position: relative;

        & img {
            margin-bottom: 0;
            width: 100%;
            border-radius: 24px;
        }
    }

    &__content {
        margin-top: -280px;
    }

    &__trending-layout {
        padding: 65px 0 58px 0;

        & > h2 {
            text-align: center;
        }
    }

    &__trending-list {
        column-gap: 32px;
    }

    &__navigation {
        margin-top: 22px;

        &-button {
            display: flex;
            text-decoration: none;
            color: var(--dark);
            font-size: 18px;
            line-height: 27px;
            align-items: center;
            position: relative;

            &-underline {
                width: 0;
                height: 2px;
                background-color: var(--orange);
                position: absolute;
                bottom: -8px;
                transition: width 0.1s ease-in;
            }

            &:hover {
                .post__navigation-button-underline {
                    width: 105%;
                }
            }

            &--left {
                margin-right: auto;

                & img {
                    margin-right: 8px;
                }
            }

            &--right {
                margin-left: auto;

                .post__navigation-button-underline {
                    left: -3px;
                }

                & img {
                    transform: rotate(180deg);
                    margin-left: 8px;
                }
            }
        }

        &-buttons {
            margin-top: 22px;
            display: flex;
        }
    }
}
