.teams {
    background: url(./images/teams_bg.svg);
    background-size: cover;
    position: relative;
    overflow: hidden;

    @media (max-width: 576px) {
        background: url(./images/teams__bg--mobile.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: bottom;
    }

    &__container {
        display: flex;
        padding: 195px 0 185px 0;
        justify-content: space-between;
        margin: 0 auto;
        max-width: var(--container);
        width: 90%;

        @media (max-width: 992px) {
            flex-direction: column;
            padding: 81px 0 61px 0;
        }
    }

    &__info {
        z-index: 2;
    }

    &__text {
        max-width: 549px;
        margin-top: 32px;

        @media (max-width: 992px) {
            margin-top: 24px;
        }
    }

    &__cta {
        margin-top: 40px;
        color: var(--white);
        width: 224px;

        @media (max-width: 992px) {
            margin: 32px 0 97px;
            width: 176px;
        }
    }

    &__presentation {
        position: relative;
        flex: 1;
        display: flex;
        justify-content: flex-end;
        min-width: 480px;

        @media (max-width: 992px) {
            min-width: auto;
            justify-content: center;
        }
    }

    &__card-container {
        position: relative;
        width: 100%;
    }

    &__map {
        mix-blend-mode: overlay;
        transform: rotate(-8.32deg);
        position: absolute;
        right: -170px;
        top: -113px;

        @media (max-width: 992px) {
            top: -65px;
            right: unset;
            max-width: 358px;
            max-height: 375px;
            left: calc(50% - 15px);
            transform: translateX(-50%) rotate(-8.32deg);
        }
    }

    &__reference-card {
        margin-right: 230px;
        width: 232px;
        height: 255px;
        right: -170px;
        position: absolute;

        @media (max-width: 992px) {
            right: auto;
            position: relative;
            margin-right: unset;
            width: 174px;
            height: 203px;
            padding: 24px 0;
        }
    }

    &__card {
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-right: 230px;
        width: 232px;
        height: 255px;
        padding: 32px 0 28px;
        border-radius: 16px;
        background-color: var(--white);
        box-sizing: border-box;
        position: absolute;
        right: -170px;
        opacity: 0;
        transition: opacity 0.5s ease-in-out;

        &--active {
            opacity: 1;
            z-index: 2;
        }

        @media (max-width: 992px) {
            right: auto;
            margin-right: unset;
            width: 174px;
            height: 203px;
            padding: 24px 0;
        }
    }

    &__dots {
        position: absolute;
        right: 0;
    }

    &__dots--desktop {
        display: block;

        @media (max-width: 992px) {
            display: none;
        }
    }

    &__dots--mobile {
        display: none;

        @media (max-width: 992px) {
            display: block;
        }
    }

    &__dot {
        z-index: 1;
        position: absolute;
        border-radius: 50%;
        cursor: pointer;
    }

    &__dot--bg {
        width: 16px;
        height: 16px;
    }

    &__dot--sm {
        width: 6px;
        height: 6px;
    }

    &__dot--orange {
        background-color: var(--orange);
    }

    &__dot--lavender {
        background-color: var(--lavender);
    }

    &__dot--bright-yellow {
        background-color: var(--brightYellow);
    }

    &__dot--light-blue {
        background-color: var(--lightBlue);
    }

    &__dot--location {
        cursor: default;
    }

    &__card-img-container {
        width: 80px;
        height: 80px;
        background-position: -4px center;
        background-size: cover;
        border-radius: 50%;
        overflow: hidden;
        position: relative;
        margin-bottom: 16px;

        & > img {
            position: absolute;
            bottom: 0;
        }

        @media (max-width: 992px) {
            width: 56px;
            height: 56px;
        }
    }
}
