.features {
    position: relative;
    display: flex;
    justify-content: center;
    background: var(--dark);
    padding: 530px 0;
    overflow: hidden;

    &::before,
    &::after {
        content: '';
        position: absolute;
        left: 0;
        width: 100%;
        height: 10vw;
        padding: 3rem 0;
        //border: 1px solid red;
    }

    @mixin diagonalGradient($direction) {
        background: #ffffff;
        background: -webkit-linear-gradient(
            to $direction,
            var(--dark) 49.7%,
            #ffffff 50%
        );
        background: linear-gradient(
            to $direction,
            var(--dark) 49.7%,
            #ffffff 50%
        );
    }

    &::before {
        top: 0;
        @include diagonalGradient(left top);
    }

    &::after {
        bottom: 0;
        @include diagonalGradient(right bottom);
    }

    &__container {
        position: relative;
        width: 90%;
        max-width: var(--container);
        z-index: 9;
    }

    &__wrapper {
        margin-left: 3rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        &:nth-child(2) {
            flex-direction: row-reverse;
            margin-top: 10rem;
        }
    }

    &__content {
        width: 425px;
    }

    &__title {
        font-family: var(--sora);
        @include font-size(48);
        line-height: 58px;
        color: var(--neutralLight);
        margin-bottom: 1.5rem;

        & > span {
            font-family: var(--sora);
            color: var(--orange);
        }
    }

    &__text {
        @include font-size(18);
        line-height: 24px;
        color: var(--neutralLight);
        font-weight: 300;
        margin-bottom: 4rem;
    }

    &__list {
        &--item {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            @include font-size(16);
            line-height: 24px;
            font-weight: 300;
            color: var(--neutralDark);
            margin-bottom: 1.5rem;

            span {
                margin-right: 1rem;

                svg {
                    width: 36px;

                    path:not(.a) {
                        stroke: var(--neutralDark);
                        stroke-width: 2;
                    }

                    .a {
                        fill: var(--neutralDark);
                    }
                }
            }

            &-active {
                color: var(--neutralLight);

                span {
                    svg {
                        path:not(.a) {
                            stroke: var(--neutralLight);
                        }

                        .a {
                            fill: var(--neutralLight);
                        }
                    }
                }
            }
        }
    }

    &__images {
        width: 50%;
    }

    &__backgrounds {
        opacity: 0.5;
        .background0 {
            position: absolute;
            top: 5%;
            left: -650px;
            width: 800px;
            height: 1000px;
            //border: 1px solid red;
            border-radius: 57% 27% 48% 37% / 85% 59% 60% 33%;
            background: radial-gradient(
                closest-side at 60% 55%,
                #3742fa,
                transparent
            );
            z-index: 1;
            opacity: 0.6;
        }
        .background1 {
            position: absolute;
            top: 18%;
            left: 50%;
            width: 800px;
            height: 800px;
            //border: 1px solid red;
            //border-radius: 57% 27% 48% 37% / 85% 59% 60% 33%;
            background: radial-gradient(circle 400px, #3742fa, transparent);
            transform: scaleX(0.8);
            z-index: 1;
            opacity: 0.8;
        }
        .background2 {
            position: absolute;
            top: 23%;
            left: 60%;
            width: 700px;
            height: 800px;
            //border: 1px solid red;
            //border-radius: 57% 27% 48% 37% / 85% 59% 60% 33%;
            background: radial-gradient(circle 320px, #ff6b81, transparent);
            z-index: 0;
            opacity: 0.7;
        }

        .background3 {
            position: absolute;
            top: 49%;
            left: 13%;
            width: 600px;
            height: 600px;
            //border: 1px solid red;
            //border-radius: 57% 27% 48% 37% / 85% 59% 60% 33%;
            background: radial-gradient(circle 300px, #f1c40f, transparent);
            z-index: 1;
            opacity: 0.8;
        }
        .background4 {
            position: absolute;
            top: 52%;
            left: 15%;
            width: 700px;
            height: 800px;
            //border: 1px solid red;
            //border-radius: 57% 27% 48% 37% / 85% 59% 60% 33%;
            background: radial-gradient(circle 320px, #ff6b81, transparent);
            z-index: 0;
            opacity: 0.7;
        }
    }

    @mixin bgAsset1($direction) {
        background: #1a2a6c;
        background: -webkit-linear-gradient(
            to $direction,
            #fdbb2d,
            #b21f1f,
            #1a2a6c
        );
        background: linear-gradient(to $direction, #fdbb2d, #b21f1f, #1a2a6c);
    }
    @mixin asset1Position($top, $leftRigth, $leftRigthValue, $rotation) {
        top: $top * 1%;
        #{$leftRigth}: $leftRigthValue + px;
        transform: rotate($rotation + deg);
    }

    @mixin bgAsset2($direction) {
        background: #1a2a6c;
        background: -webkit-linear-gradient(
            to $direction,
            #6867b6,
            var(--neutralLight)
        );
        background: linear-gradient(to $direction, #6867b6, #ffffff 80%);
    }

    .asset1 {
        display: none;
        &::before,
        &::after {
            content: '';
            position: absolute;
            width: 415px;
            height: 50px;
            border-radius: 10rem;
            z-index: 50;
            transform: rotate(-10deg);
        }

        &::before {
            top: 55px;
            right: -30px;
            @include bgAsset1(right);
        }
        &::after {
            bottom: 52px;
            left: -30px;
            @include bgAsset1(left);
        }
    }
    .asset2 {
        &::before,
        &::after {
            content: '';
            position: absolute;
            width: 630px;
            height: 33px;
            border-radius: 10rem;
            z-index: 5;
        }

        &::before {
            @include asset1Position(0.7, right, -30, -8);
            @include bgAsset2(right);

            @media only screen and (max-width: 1700px) {
                @include asset1Position(0.8, right, -30, -8.5);
            }

            @media only screen and (max-width: 1500px) {
                @include asset1Position(0.8, right, -30, -9.5);
            }

            @media only screen and (max-width: 1400px) {
                @include asset1Position(0.8, right, -30, -9.8);
            }
            @media only screen and (max-width: 1300px) {
                @include asset1Position(0.8, right, -30, -10.5);
            }
        }
        &::after {
            bottom: 39px;
            left: -30px;
            transform: rotate(-10deg);
            @include bgAsset2(left);
        }
    }
}
