.integrate {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    max-height: 80vh;
    overflow: hidden;

    &__container {
        position: relative;
        width: 90%;
        max-width: var(--container);
    }

    &__content {
        position: relative;
        width: 100%;
        max-width: 570px;
        margin: 0 auto;
        margin-top: 6rem;
        z-index: 1;
    }

    &__title {
        position: relative;
        top: 300px;
        //opacity: 0;
        background: radial-gradient(
            rgba(255, 255, 255, 1) 70%,
            rgba(255, 255, 255, 0)
        );
        //background: radial-gradient(red 50%, blue);

        @include titles;
        margin-bottom: 56px;
        text-align: center;

        & > span {
            font-family: var(--sora);
            color: var(--orange);
        }

        @media only screen and (max-width: 700px) {
            @include font-size(28);
            line-height: 42px;
            letter-spacing: -1%;
        }
    }

    &__cta {
        position: relative;
        top: 200px;
        opacity: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 224px;
        height: 64px;
        background: var(--orange);
        border-radius: 10rem;
        margin: 0 auto;
        overflow: hidden;

        &--text,
        &--icon {
            position: relative;
            z-index: 1;
        }

        &--text {
            font-family: var(--poppins);
            @include font-size(18);
            font-weight: 500;
            color: #ffffff;
            margin-right: 0.5rem;
            transition: all 0.4s ease-in-out;
        }

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: -130%;
            width: 120%;
            height: 64px;
            background: var(--yellow);
            border-radius: 10rem;
            transition: all 0.8s ease-in-out;
            pointer-events: none;
        }

        &:hover {
            .integrate__cta--text {
                margin-right: 2rem;
            }
            &::before {
                left: calc(100% - 64px);
            }
        }

        &:active {
            background: var(--yellow);
        }
    }

    &__orbits {
        position: relative;
        text-align: center;
        img {
            position: relative;
            bottom: 10rem;
            width: 100%;
            transform: scale(1.1);

            @media only screen and (max-width: 1500px) {
                width: 80%;
                transform: scale(1.1);
            }
            @media only screen and (max-width: 700px) {
                width: 100%;
                transform: scale(1.5);
            }
        }

        @media only screen and (max-width: 1500px) {
            bottom: 3rem;
        }

        @media only screen and (max-width: 700px) {
            bottom: 1rem;
        }
    }

    &::before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        min-width: 1920px;
        height: 250px;
        background: #ffffff;
        background: -webkit-linear-gradient(
            to left top,
            var(--neutralLight) 49.7%,
            transparentize(#ffffff, 1) 50%
        );
        background: linear-gradient(
            to left top,
            var(--neutralLight) 49.7%,
            transparentize(#ffffff, 1) 50%
        );
        z-index: 1;

        @media only screen and (max-width: 700px) {
            //height: 400px;
        }
    }
}
