:root {
    --container: 1120px;

    // Colors
    --orange: #fb310a;
    --orangeDark: #981d05;
    --lightYellow: #ffa600;
    --yellow: #ffa700;
    --brightYellow: #fba61b;
    --green: #15d6cf;
    --purple: #441b49;
    --dark: #03032d;
    --neutral: #a1a1c0;
    --neutralLight: #f0f7ff;
    --neutralDark: #6f6f86;
    --gray1: #eef6ff;
    --gray2: #e6f0fe;
    --white: #ffffff;
    --lightBlue: #d7e5ff;
    --lavender: #d8e5ff;

    // Fonts
    --sora: 'Sora', sans-serif;
    --poppins: 'Poppins', sans-serif;
    --roboto: 'Roboto', serif;
}
