:root {
    --container: 1120px;

    // Colors
    --orange: #fb310a;
    --orangeDark: #981d05;
    --lightYellow: #ffa600;
    --yellow: #ffa700;
    --brightYellow: #fba61b;
    --green: #15d6cf;
    --purple: #441b49;
    --dark: #03032d;
    --darkBackground: #10091D;
    --darker: linear-gradient(204.03deg, #07122e 16.62%, #16071e 81.74%);
    --neutral: #a1a1c0;
    --neutralLight: #f0f7ff;
    --degradedNeutralLight: linear-gradient(
        to top,
        var(--neutralLight) 50%,
        #ffffff 120%
    );
    --neutralDark: #6f6f86;
    --gray1: #eef6ff;
    --gray2: #e6f0fe;
    --white: #ffffff;
    --lightBlue: #d7e5ff;
    --lavender: #d8e5ff;
    --blue: #598eec;

    // Fonts
    --sora: 'Sora', sans-serif;
    --poppins: 'Poppins', sans-serif;
    --roboto: 'Roboto', serif;

    // Angles
    --angle: -6deg;
    --angleSine: 0.104;
    --angleCosine: 0.994;
    --triangleBase: 100vw;
    --triangleHeight: calc(
        (var(--triangleBase) / var(--angleCosine)) * var(--angleSine)
    );
    --gutterWidth: calc(50vw - var(--container) / 2);
    --paddingBase: 55px;
    --paddingLayout: calc(
        var(--triangleHeight) + var(--paddingBase) - var(--angleSine) *
            var(--gutterWidth)
    );

    @media screen and (max-width: 1200px) {
        --gutterWidth: 16px;
    }
}
