:root {
    --container: 1120px;

    // Colors
    --orange: #fb310a;
    --yellow: #ffa700;
    --green: #15d6cf;
    --purple: #441b49;
    --dark: #03032d;
    --neutral: #a1a1c0;
    --neutralLight: #f0f7ff;
    --neutralDark: #6f6f86;
    --gray1: #eef6ff;
    --gray2: #e6f0fe;
    --lightBlue: rgba(215, 229, 255, 0.4);

    // Fonts
    --sora: 'Sora', sans-serif;
    --poppins: 'Poppins', sans-serif;
    --roboto: 'Roboto', serif;
}
