:root {
    --container: 1100px;

    // Colors
    --orange: #fb310a;
    --yellow: #ffa700;
    --green: #15d6cf;
    --purple: #441b49;
    --dark: #03032d;
    --neutral: #a1a1c0;
    --neutralLight: #f0f7ff;
    --neutralDark: #6f6f86;
    --gray1: #eef6ff;
    --gray2: #e6f0fe;

    // Fonts
    --sora: 'Sora', sans-serif;
    --poppins: 'Poppins', sans-serif;
    --roboto: 'Roboto', serif;
}

::selection {
    background: var(--yellow);
    color: white;
}

// Settings
@import 'mixins';
@import 'reset';

// Pages
@import '404';

// Partials
@import 'header';

// Sections
@import 'section-hero';
@import 'section-support';
@import 'section-features';

// Components
@import 'component-integrations';
