-
    const headerLinks = [
        {
            text: 'Developer Docs',
            link: 'https://developer.fusebit.io',
            onClick: "sendEvent('Navigation', 'Clicked developers header nav');",
            eventName: 'Developer Docs Link Clicked',
            objectLocation: 'Header',
        },
        {
            text: 'Pricing',
            link: '/pricing/',
            onClick: "sendEvent('Navigation', 'Clicked pricing header nav');",
        },
        {
            text: 'Blog',
            link: '/blog/',
            onClick: "sendEvent('Navigation', 'Clicked blog header nav');"
        },
        {
            text: 'About Us',
            link: '/about/',
            onClick: "sendEvent('Navigation', 'Clicked about header nav');"
        },
        //- {
        //-     text: 'Careers',
        //-     link: '/careers/',
        //-     onClick: "sendEvent('Navigation', 'Clicked careers header nav');"
        //- }
        
    ]
header.header 
    .header__container 
        .header__logo 
            a(href="/" onclick="sendEvent('Navigation', 'Clicked logo header nav');") 
                include ../Logo/Logo

        .header__menu 
            ul 
                each link in headerLinks
                    li
                        a(href=link.link onclick=link.onClick id=link.linkId class=link.eventName ? 'track-with-segment' : '' data-event-name=link.eventName data-object-location=link.objectLocation)=link.text

        .header__links 
            ul  
                li 
                    a.track-with-segment.header__links--signUp.sign-up-cta(onclick="sendEvent('CTA', 'Clicked header button');", data-event-name="Sign Up Button Clicked", data-object-location="Header") Join waitlist

        .header__menuMobile--btn 
            span.top 
            span.center1
            span.center2
            span.bottom

    .header__menuMobile

        .menuMobile__links
            ul 
                each link in headerLinks
                    li
                        a(href=link.link onclick=link.onClick id=link.linkId class=link.eventName ? 'track-with-segment' : '' data-event-name=link.eventName data-object-location=link.objectLocation)=link.text

                li 
                    a.track-with-segment.header__links--signUp.sign-up-cta(onclick="sendEvent('CTA', 'Clicked header button');", data-event-name="Sign Up Button Clicked", data-object-location="Header") Join waitlist

        .menuMobile__social 
            include ../SocialMedia/SocialMedia





    script.
            window.addEventListener('load', () => {
                let prevScroll = window.pageYOffset;
                const isBlogSite = window.location.pathname.includes('blog');

                if(isBlogSite) {
                    const header = document.querySelector('.header');
                    header.classList.add('header--compact');
                }

                window.addEventListener('scroll', () => {
                    const currentScroll = window.pageYOffset;
                    const header = document.querySelector('.header');
                    const HIDE_NAVBAR_AT = window.innerWidth >= 1000 ? 70 : 30;

                    if (currentScroll < HIDE_NAVBAR_AT) {

                        if(!isBlogSite) {
                            header.classList.remove('header--compact');
                        }

                        return
                    } 

                    if (prevScroll > currentScroll) {
                        header.classList.add('header--compact');
                        header.classList.remove('header--hidden');
                    } else {
                        header.classList.add('header--hidden');
                    }

                    prevScroll = currentScroll;
                });

                const header = document.querySelector('.header');
                const menuMobileBtn = document.querySelector('.header__menuMobile--btn');

                menuMobileBtn.addEventListener('click', () => {
                    header.classList.toggle('header__menuMobile--open');
                    document.querySelector('html').classList.toggle('hidden');
                });
            });
