header.header 
    .header__container 
        .header__logo 
            a(href="#") 
                include ../Logo/Logo

        .header__menu 
            ul 
                li
                    a(href="#") Integrations
                li
                    a(href="#") Docs
                li
                    a(href="#") Blog

        .header__links 
            ul 
                li 
                    a.header__links--signIn(href="#") Login
                li 
                    a.header__links--signUp.header__links--active(href="#") Sign up

        .header__menuMobile--btn 
            span.top 
            span.center1
            span.center2
            span.bottom
                
        .header__link--active

    .header__menuMobile
        h5 Menu Mobile
        