-
    const headerLinks = [
        {
            text: 'About us',
            link: '/about',
            onClick: "sendEvent('Navigation', 'Clicked about header nav');"
        },
        {
            text: 'Careers',
            link: '/careers',
            onClick: "sendEvent('Navigation', 'Clicked careers header nav');"
        }
    ]
header.header 
    .header__container 
        .header__logo 
            a(href="/") 
                include ../Logo/Logo

        .header__menu 
            ul 
                each link in headerLinks
                    li
                        a(href=link.link)=link.text

        .header__links 
            ul  
                li 
                    a.header__links--signUp(href="#" onclick="sendEvent('CTA', 'Clicked header button');") Join waitlist

        .header__menuMobile--btn 
            span.top 
            span.center1
            span.center2
            span.bottom

    .header__menuMobile

        .menuMobile__links
            ul 
                each link in headerLinks
                    li
                        a(href=link.link)=link.text

                li 
                    a.header__links--signUp(href="#" onclick="sendEvent('CTA', 'Clicked header button');") Join waitlist

        .menuMobile__social 
            include ../SocialMedia/SocialMedia





    script.
        function toggleClasses(target, addClass, removeClass) {
            target.classList.remove(removeClass);
            target.classList.add(addClass);
        }

        window.addEventListener('load', () => {
            let lastScroll = window.pageYOffset;

            window.addEventListener('scroll', () => {
                const currentScrollPos = window.pageYOffset;
                const header = document.querySelector('.header');

                if (currentScrollPos < 150) {
                    header.classList.remove('header--compact');
                } else if (lastScroll > currentScrollPos) {
                    toggleClasses(header, 'header--compact', 'header--hidden');
                } else {
                    toggleClasses(header, 'header--hidden', 'header--compact');
                }
                lastScroll = currentScrollPos;
            });

            const header = document.querySelector('.header');
            const headerSignUp = header.querySelectorAll('.header__links--signUp');
            const menuMobileBtn = document.querySelector('.header__menuMobile--btn');

            menuMobileBtn.addEventListener('click', () => {
                header.classList.toggle('header__menuMobile--open');
                document.querySelector('html').classList.toggle('hidden');
            });

            headerSignUp.forEach(btn => {
                btn.addEventListener('click', (e) => {
                    e.preventDefault();

                    const modal = document.querySelector('#modal__signUp')
                    const overlay = document.querySelector('.modal__overlay');

                    modal.style.display = 'block';
                    overlay.style.display = 'block';
                })
            })
        });