section.hero
    .hero__container  
        .hero__content.fadeInLeft 
            h1.hero__title Ultimate Node.js bot for Discord and Slack
            p.hero__text
                | Write custom Slash Commands in Node.js to automate or integrate anything. Free and Serverless.
            .hero__cta-wrapper
                a.track-with-segment.track-with-linkedin.fusebot-cta.scroll-cta(href="#installation" data-event-name="Install Fusebot Now Button Clicked" data-object-location="Fusebot Page Hero") 
                    | Install Fusebot Now
                a(href="https://www.producthunt.com/posts/fusebot?utm_source=badge-featured&utm_medium=badge&utm_souce=badge-fusebot" target="_blank")
                    img(src="https://api.producthunt.com/widgets/embed-image/v1/featured.svg?post_id=307836&theme=dark" alt="Fusebot - Integrate & automate anything on Slack/Discord in seconds | Product Hunt" style="width: 250px; height: 54px;" width="250" height="54")
        .hero__images.fadeInRight
            .hero__images--illustration
