mixin pathDot 
    .weprovide__path--dot

mixin checkIcon
    svg(class="checkicon" width="14" height="14" fill="none" xmlns="http://www.w3.org/2000/svg")
        g(clip-path="url(#clip0)")
            path(d="M6.365 11.514a1.549 1.549 0 01-2.19 0L.782 8.123a1.548 1.548 0 112.19-2.19l2.021 2.022c.153.152.4.152.553 0L11.02 2.48a1.549 1.549 0 012.19 2.189l-6.845 6.845z" fill="#03032D")
        defs
            clipPath(id="clip0")
                path(fill="#fff" transform="translate(.33 .332)" d="M0 0h13.333v13.333H0z")

mixin emptyIcon 
    svg(class="emptyicon" width="17" height="28" fill="none" xmlns="http://www.w3.org/2000/svg")
        g(opacity=".2")
            circle(cx="8.998" cy="27" r="1" transform="rotate(-90 8.998 27)" fill="#D7E5FF")
            circle(cx="8.998" cy="1" r="1" transform="rotate(-90 8.998 1)" fill="#D7E5FF")
            circle(cx="8.998" cy="14" r="7" transform="rotate(-90 8.998 14)" stroke="#D7E5FF" stroke-width="2")

mixin pathMobile
    svg(class="weprovide__path--mobile" width="844" height="555" fill="none" xmlns="http://www.w3.org/2000/svg")
        path(opacity=".2" fill-rule="evenodd" clip-rule="evenodd" d="M.8 513.5V0h2v513.5c0 21.539 17.462 39 39 39h802.001v2h-802c-22.644 0-41-18.356-41-41z" fill="#D7E5FF")

mixin pathDesktop 
    svg(class="weprovide__path--desktop" width="907" height="992" fill="none")
            path(opacity=".2" fill-rule="evenodd" clip-rule="evenodd" d="M0 0v992h2V116.653C6.646 129.399 18.874 138.5 33.227 138.5c17.264 0 31.252 14.008 31.228 31.271L64 495H64v39.5c0 22.644 18.356 41 41 41h802v-2H105c-21.54 0-39-17.461-39-39v-38.999l.455-325.727c.026-18.369-14.858-33.274-33.227-33.274C15.98 136.5 2 122.519 2 105.273V0H0z" fill="#D7E5FF")


section.weprovide 
    .weprovide__container
        .weprovide__wrapper.weprovide__wrapper--head
            h2.weprovide__title 
                | We provide 
                span Everything you need_
                .weprovide__title--icon
                    +emptyIcon

            p.weprovide__text 
                | We know how valuable developers' time is. This is why we worked hard to develop a tool that would be easy to use.

        .weprovide__wrapper.weprovide__wrapper--content
            ul.weprovide__dataList.swiper-container
                .swiper-wrapper.swiper-wrapper--disable
                    .swiper-slide
                        li.weprovide__item.weprovide__item--active
                            .weprovide__item--icon 
                                +checkIcon
                                +emptyIcon

                            h4.weprovide__item--title SLA 
                            ul.weprovide__item--itemList 
                                li Build by Azure veterans 
                                li SLA
                    .swiper-slide
                        li.weprovide__item 
                            .weprovide__item--icon 
                                +checkIcon
                                +emptyIcon
                                    
                            h4.weprovide__item--title Security 
                            ul.weprovide__item--itemList 
                                li SOC 2
                                li GDPR 
                                li Enterprise WAF

                    .swiper-slide
                        li.weprovide__item 
                            .weprovide__item--icon 
                                +checkIcon
                                +emptyIcon
                                    
                            h4.weprovide__item--title Enterprise-ready 
                            ul.weprovide__item--itemList 
                                li SSO
                                li SOC 2 (in progress)
                                li GDPR 

                    .swiper-slide
                        li.weprovide__item 
                            .weprovide__item--icon 
                                +checkIcon
                                +emptyIcon
                                
                            h4.weprovide__item--title Data privacy 
                            ul.weprovide__item--itemList 
                                li On-prem deployment
                                li Need text 1
                                li Need text 2

                div.weprovide__pagination.swiper-pagination

        +pathDesktop 
        +pathMobile
        +pathDot

    .weprovide__bg 
        - for(let i = 0; i < 12; i++)
            - let bgNo = ('0' + i).slice(-2);
            div(class='weprovide__bg--' + bgNo)

    script.
        const weprovideSwiper = new Swiper('.weprovide__dataList', {
            loop: false,
            slidesPerView: 4,
            slidesPerView: 1,
            slidesPerColumnFill: 'row',
            pagination: {
                el: '.swiper-pagination',
            },
            breakpoints: {
                700: {
                    slidesPerView: 2,
                },
                1000: {
                    slidesPerView: 3,
                },
                1200: {
                    slidesPerView: 4,
                },
            },
            on: {
                init: () => {
                    toggleSwiperWrapperStatus();

                    window.addEventListener('resize', toggleSwiperWrapperStatus);
                },
                slideChange: () => {
                    handleScrolledSwiper();
                }
            }
        });
        function esDesktop() {
            return window.matchMedia('(min-width: 1200px)').matches;
        }
        function handleScrolledSwiper() {
            const weProvideItems = document.querySelectorAll('.weprovide__dataList .swiper-slide');
            weProvideItems.forEach(slide => slide.children[0].classList.remove('weprovide__item--active'));

            const slideIndex = weprovideSwiper.realIndex;
            const currentSlide = weprovideSwiper.slides[slideIndex]

            const pathMobile = document.querySelector('.weprovide__path--mobile');
            const titleIcon = document.querySelector('.weprovide__title--icon');

            switch(slideIndex) {
                case 0:
                    pathMobile.classList.remove(
                        'weprovide__path--mobile--scrolled-1',
                        'weprovide__path--mobile--scrolled-2'
                    );
                    titleIcon.classList.remove('weprovide__title--icon--scrolled');
                    break;

                case 3:
                    pathMobile.classList.add('weprovide__path--mobile--scrolled-2');
                    pathMobile.classList.remove('weprovide__path--mobile--scrolled-1');
                    break;

                default:
                    pathMobile.classList.add('weprovide__path--mobile--scrolled-1');
                    pathMobile.classList.remove('weprovide__path--mobile--scrolled-2');
                    titleIcon.classList.add('weprovide__title--icon--scrolled');
                    
            }

            currentSlide.children[0].classList.add('weprovide__item--active');
        }
        function toggleSwiperWrapperStatus() {
            const swiperWrapper = document.querySelector('.weprovide__dataList .swiper-wrapper');
            if(esDesktop()) {
                swiperWrapper.classList.add('swiper-wrapper--disable');
            } else {
                swiperWrapper.classList.remove('swiper-wrapper--disable');
            }
        }
        

        
        

    