mixin card(data) 
    .card
        .card__image 
            img(src=data.img alt=data.highlight ? data.highlight : 'Image icon')

        p.card__content 
            if data.highlight
                strong #{data.highlight} 
            | #{data.text}