mixin item(img, text)
    .gallery__item-container
        .gallery__item-container-logo
            img(src="../../../assets/images/integrations/footer/slack.svg")
        div
            p.gallery__item-container-title= text
            button.gallery__item-container-cta Try Integration

section.section
    .background.background--white
        .mark.mark--small.mark--dark-violet.mark--left.gallery__mark-top
        .mark.mark--small.mark--dark-violet.mark--right.mark--bottom.gallery__mark-bottom.gallery__mark-bottom-desktop
        .mark.mark--big.mark--light-violet.mark--right.mark--bottom.gallery__mark-bottom.gallery__mark-bottom-mobile
    .layout.gallery__layout
        +title('Connector ', 'gallery', false, true, 'gallery__title')
        .gallery__grid
            +item('', 'Slack')
            +item('', 'Slack')
            +item('', 'Slack')
            +item('', 'Slack')
            +item('', 'Slack')
            +item('', 'Slack')
            +item('', 'Slack')
            +item('', 'Slack')
            +item('', 'Slack')
            +item('', 'Slack')
            +item('', 'Slack')
            +item('', 'Slack')
            +item('', 'Slack')