mixin item(img, text, outOfPlan, hidden)
    .gallery__item-container(class=hidden ? 'gallery__item-container--hidden' : '')
        .gallery__item-container-logo
            img(src=`data:image/svg+xml;utf8,${encodeURIComponent(img)}`)
        div
            p.gallery__item-container-title= text
            if outOfPlan
                button.gallery__item-container-cta.gallery__item-container-cta--disabled Coming soon
            else
                button.gallery__item-container-cta Try Integration

section.section
    .background.background--white
        .mark.mark--small.mark--dark-violet.mark--left.gallery__mark-top
        .mark.mark--small.mark--dark-violet.mark--right.mark--bottom.gallery__mark-bottom.gallery__mark-bottom-desktop
        .mark.mark--big.mark--light-violet.mark--right.mark--bottom.gallery__mark-bottom.gallery__mark-bottom-mobile
    .layout.gallery__layout
        +title('Connector ', 'gallery', false, true, 'gallery__title')
        .gallery__grid
            - const limit = 12
            each i, index in integrations
                +item(i.logo, i.name, i.outOfPlan, index >= limit)
        button.gallery__pagination-button#more More
    script.
        window.addEventListener('load', () => {
            handleShowMore(12, ".gallery__item-container--hidden", "more", "gallery__item-container--hidden")
        })