mixin background(className) 
    .background.background--neutralLight(class= className)
        .mark.mark--small.mark--light-violet.mark--right.hero__mark-small
        .mark.mark--big.mark--dark-violet.mark--right.hero__mark-big

mixin card(props)
    .hero__card-wrapper
        .hero__card
            .hero__card-highlight(class= props.className)
            h2.hero__card-title #{props.title}
            h4.hero__card-price #{props.price}
            .hero__card-separator
            each feature in props.features
                p.hero__card-feature #{feature}
            +cta(props.link.text, props.link.href, "hero__card-link track-with-segment", props.link.id, "Price Tier Button Clicked", "Price Tier", true)
        if props.description
            .hero__card-description--wraper
                p.hero__card-description #{props.description}

section.section.section--no-margin.hero 
    +background("hero__background--desktop")
    .layout.hero__layout
        h1.hero__title Self-service pricing
        .hero__content
            +background("hero__background--mobile")
            .hero__cards-container
                each card in pricing.cards.cards
                    +card(card)

script.
    const ankerBtns = document.querySelectorAll('.hero__card-link')

    ankerBtns.forEach(btn => {
        btn.addEventListener('click', (e) => {
            if (e.target.id == 'price-tier-1') {
                sendEvent("Price Tier", "Clicked Price Tier 1")
            } else if (e.target.id == 'price-tier-2') {
                sendEvent("Price Tier", "Clicked Price Tier 2")
                openModal("#modal__pricing")
            } else if (e.target.id == 'price-tier-3') {
                sendEvent("Price Tier", "Clicked Price Tier 3")
                openModal("#modal__pricing")
            }
        })
    })