mixin background(className) 
    .background.background--neutralLight(class= className)
        .mark.mark--small.mark--light-violet.mark--right.hero__mark-small
        .mark.mark--big.mark--dark-violet.mark--right.hero__mark-big


section.section.section--no-margin.hero 
    +background("hero__background--desktop")
    .layout.hero__layout
        h1.hero__title
            | Self-service pricing
        .hero__content
            +background("hero__background--mobile")
            .hero__cards-container
                .hero__card
                    
                    