section.section.section--no-margin
    .background.background--neutralLight
        .mark.mark--big.mark--light-violet.mark--right.footer__mark.footer__mark-desktop
        .mark.mark--small.mark--dark-violet.mark--right.footer__mark.footer__mark-mobile
    .layout.footer__layout
        .footer__info-container
            .footer__content
                +title('Looking for ', 'another Integration?', true, false, 'footer__title')
                +cta("Let us know", false, 'footer__cta', false, false, false, false, true, true, false, "window.Intercom('showNewMessage', 'Hi Fusebit team. I am looking for another integration.')", "window.Intercom('showNewMessage', 'Hi Fusebit team. I am looking for another integration.')")
                +avatar('40px', '#FFFFFF', null, 'footer__app footer__app-1')
                    img(src="../../../assets/images/integrations/footer/slack.svg" height="20" width="20").footer__app-img
                +avatar('56px', '#FFFFFF', null, 'footer__app footer__app-2')
                    img(src="../../../assets/images/integrations/footer/app.svg" height="20" width="20").footer__app-img
                +avatar('64px', '#FF8049', null, 'footer__app footer__app-3')
                    img(src="../../../assets/images/integrations/footer/inbox.svg" height="32" width="32").footer__app-img
                +avatar('64px', '#FFC058', null, 'footer__app footer__app-4')
                    img(src="../../../assets/images/integrations/footer/outbox.svg" height="32" width="32").footer__app-img
    script.
        window.addEventListener('load', () => {
            const footerButton = document.querySelector('.footer__cta');

            footerButton.addEventListener('click', (e) => {
                analytics.track({
                    event: "Let Us Know Button Clicked",
                    properties: {
                        objectLocation: "Integrations",
                        domain: 'fusebit.io',
                    }
                });
            })
        })