section.section.section--no-margin
    .background.background--neutralLight
        .mark.mark--big.mark--light-violet.mark--right.footer__mark.footer__mark-desktop
        .mark.mark--small.mark--dark-violet.mark--right.footer__mark.footer__mark-mobile
    .layout.footer__layout
        .footer__info-container
            .footer__content
                +title('Looking for ', 'another connector?', true, false, 'footer__title')
                +cta("Let us know", "#", 'footer__cta', false, false, false, false, true)
                +avatar('64px', '#FF8049', '../../../assets/images/careers/join/member-1.png', 'footer__avatar footer__avatar-1')
                +avatar('40px', '#B9CFFF', '../../../assets/images/careers/join/member-2.png', 'footer__avatar footer__avatar-2')
                +avatar('64px', 'var(--brightYellow)', '../../../assets/images/careers/join/member-3.png', 'footer__avatar footer__avatar-3')
                +avatar('40px', '#FF8049', '../../../assets/images/careers/join/member-4.png', 'footer__avatar footer__avatar-4')