section.section
    .background.background--dark.background--straight
        img(src='../../../assets/images/careers/hero/hero__bg.png' alt='Careers').hero__bg
    .background
        .mark.mark--big.mark--rainbow.mark--bottom.mark--left.hero__mark
    .layout.hero__layout
        .hero__content
            .hero__title-container
                h1.title.title--white.title--main.hero__title Careers at Fusebit
                +careersCta("Open positions", "#", 'hero__cta')
            .hero__description
                p.text
                    | At Fusebit, we are singularly focused on creating a developer-centric platform for application integrations. You will be an early contributor in helping us shape how SaaS developers can easily integrate and maintain thousands of integrations with other applications. 
                p.text
                    | Everything we do is centered on creating developer joy. It is a hard problem to solve that requires smart, creative people who love developer products.