section.section
    .background.background--dark.background--straight
    .background.background--dark
        .mark.mark--big.mark--rainbow.mark--bottom.mark--left
    .layout.hero__layout
        .hero__content
            .hero__title-container
                h1.title.title--white.hero__title Careers at Fusebit
                +cta("Open positions", "#", 'hero__cta')
            .hero__description
                p.text
                    | At Fusebit, we are singularly focused on creating a developer-centric platform for application integrations. You will be an early contributor in helping us shape how SaaS developers can easily integrate and maintain thousands of integrations with other applications. 
                p.text
                    | Everything we do is centered on creating developer joy. It is a hard problem to solve that requires smart, creative people who love developer products.