mixin background(className) 
    .background.background--neutralLight(class= className)
        .mark.mark--small.mark--light-violet.mark--right.hero__mark-small
        .mark.mark--big.mark--dark-violet.mark--right.hero__mark-big


section.section.section--no-margin.hero 
    +background("hero__background--desktop")
    .layout.layout--blank-top.hero__layout
        h1.hero__title
            | The first integration platform 
            span designed for developer joy
                i#underscore _
        .hero__content
            +background("hero__background--mobile")
            .hero__info-container
                .hero__main-text
                    p In today’s world, there’s a SaaS for everything, and making sure your product integrates seamlessly with all the key players in your segment is critical to growth and retention. Unfortunately, developers spend too much time today writing integration code from scratch, configuring solutions meant for IT or non-technical users, and paying the ongoing maintenance and scalability tax. 
                    br
                    p At Fusebit, it is our mission to put an end to that once and for all.
                .hero__items
                    .hero__item
                        .hero__item-border
                        p  
                            span Developer-first ❤️ 
                            | We prioritize developer experience in everything we do 
                    .hero__item
                        .hero__item-border
                        p  
                            span Cloud-native ☁️
                            | Seamless deployment and operation at scale  
                    .hero__item
                        .hero__item-border
                        p  
                            span Flexible 🛠
                            | No limits to what you can build with the power of code