//- TODO: Find a way to to hide pages

extends ../_layouts/default.pug

block seo_variables
    - var title = 'Fusebit | About Us'
    - var og_title = 'Fusebit: a powerful integration platform built for developers'
    - var og_description = 'With Fusebit, quickly integrate your application to other SaaS applications using flexible API building blocks. Fusebit provides connectors to popular APIs and hosts your integrations at scale.'
    - var og_image = 'https://cdn.fusebit.io/twitter/twitter-orange.png'

block page_variable
    - var pageClass = 'aboutUs'

block content
    include ../_components/AboutUs/Hero/hero
    include ../_components/AboutUs/Teams/teams
    include ../_components/AboutUs/Founders/founders
    include ../_components/AboutUs/Investors/investors