  
section.integrations      
    .integrations__container 
        .integrations__wrapper.integrations__wrapper--head
            h2.integrations__title 
                span Enjoy the freedom
                | of code_

            p.integrations__text 
                | Address all integrations requirements with the flexibility of code. Our developer-friendly platform makes you feel at home

        .integrations__wrapper.integrations__wrapper--content
            ul.integrations__dataList
                li.integrations__item 
                    h5.integrations__item--title 
                        | We provide an extensible code-first model 
                        span >

                    p.integrations__item--content 
                        | Based on Node.js and serverless which should make working with Fusebit confortable.

                li.integrations__item 
                    h5.integrations__item--title 
                        | The package's powerful ecosystem
                        span >

                    p.integrations__item--content 
                        | Based on Node.js and serverless which should make working with Fusebit confortable.

                li.integrations__item 
                    h5.integrations__item--title 
                        | First-class support for versioning
                        span >

                    p.integrations__item--content 
                        | Based on Node.js and serverless which should make working with Fusebit confortable.

            .integrations__imageList
                img(src="../../assets/images/integrations__img-01.png", alt="")
