  
section.integrations      
    .integrations__container 
        .integrations__wrapper.integrations__wrapper--head
            h2.integrations__title 
                span Enjoy the freedom
                | of code_

            p.integrations__text 
                | Address all integrations requirements with the flexibility of code. Our developer-friendly platform makes you feel at home

        .integrations__wrapper.integrations__wrapper--content
            ul.integrations__dataList
                li.integrations__item.integrations__item-active(data-image="0") 
                    .integrations__item--content 
                        h5.integrations__item--title 
                            | We provide an extensible code-first model 
                            span 
                                svg(width="9" height="14" viewBox="0 0 9 14" fill="none" xmlns="http://www.w3.org/2000/svg")
                                    path(d="M1.65685 1.17518L7.31371 6.83203L1.65685 12.4889" stroke="#03032D" stroke-width="2")

                        p.integrations__item--text 
                            | Based on Node.js and serverless which should make working with Fusebit confortable.

                        .integrations__item--icon 
                            svg(id="icon--coding" width="24" height="25" fill="none" xmlns="http://www.w3.org/2000/svg")
                                path(d="M23.754 11.385l-5.55-5.88a.9.9 0 10-1.309 1.236l4.967 5.262-4.967 5.262a.9.9 0 001.309 1.236l5.55-5.88a.9.9 0 000-1.236zM7.106 17.265l-4.967-5.262L7.106 6.74a.9.9 0 00-1.31-1.235l-5.55 5.88a.9.9 0 000 1.236l5.55 5.88a.897.897 0 001.273.036.9.9 0 00.037-1.272zM13.457 2.475a.901.901 0 00-1.025.754l-2.64 17.28a.9.9 0 001.78.272l2.64-17.28a.9.9 0 00-.755-1.026z" fill="#03032D")


                    .integrations__item--image
                        img(src="../../assets/images/integrations__img-00.png", alt="We provide an extensible code-first model")

                li.integrations__item(data-image="1")
                    .integrations__item--content 
                        h5.integrations__item--title 
                            | The package's powerful ecosystem
                            span 
                                svg(width="9" height="14" viewBox="0 0 9 14" fill="none" xmlns="http://www.w3.org/2000/svg")
                                    path(d="M1.65685 1.17518L7.31371 6.83203L1.65685 12.4889" stroke="#03032D" stroke-width="2")

                        p.integrations__item--text 
                            | Based on Node.js and serverless which should make working with Fusebit confortable.

                        .integrations__item--icon 
                            svg(id="icon--share" width="24" height="24" fill="none" xmlns="http://www.w3.org/2000/svg")
                                g(clip-path="url(#clip0)")
                                    path(d="M23.616 17.268a2.962 2.962 0 00-.951-1.501 10.854 10.854 0 00-.186-6.117 10.878 10.878 0 00-4.062-5.547.94.94 0 00-1.31.218.936.936 0 00.218 1.308 9.017 9.017 0 013.367 4.597 9 9 0 01.212 4.835 3 3 0 00-2.774 1.486c-.4.69-.506 1.495-.3 2.265.208.771.703 1.416 1.397 1.814a3.003 3.003 0 004.09-1.092c.4-.69.506-1.495.3-2.265zm-1.925 1.328a1.12 1.12 0 01-1.526.406 1.104 1.104 0 01-.408-1.516c.493-.852 1.787-.691 2.045.268a1.1 1.1 0 01-.111.841zM1.886 12.968a.939.939 0 001.026-.842 8.999 8.999 0 012.313-5.204A9.07 9.07 0 019.323 4.32a2.998 2.998 0 002.678 1.651 2.994 2.994 0 002.995-2.985A2.994 2.994 0 0012 0a2.997 2.997 0 00-2.945 2.446 10.934 10.934 0 00-5.224 3.218 10.859 10.859 0 00-2.79 6.28.938.938 0 00.844 1.024zM12.001 1.875c.615 0 1.116.498 1.116 1.11 0 .613-.5 1.112-1.116 1.112a1.115 1.115 0 01-1.116-1.111c0-.613.5-1.111 1.116-1.111zm3.765 19.437a9.078 9.078 0 01-5.68.607 9.078 9.078 0 01-4.308-2.233 2.987 2.987 0 00.094-3.139 3.004 3.004 0 00-4.09-1.093 2.967 2.967 0 00-1.397 1.814c-.206.77-.1 1.575.3 2.266a3.003 3.003 0 003.598 1.319 10.939 10.939 0 005.41 2.899c2.278.488 4.65.263 6.85-.732a.937.937 0 10-.777-1.708zm-11.41-2.985c-.254.947-1.546 1.129-2.045.268a1.104 1.104 0 01.408-1.517 1.12 1.12 0 011.526.408c.149.256.189.555.112.841z" fill="#03032D")
                                defs
                                    clipPath(id="clip0")
                                        path(fill="#fff" d="M0 0h24v24H0z")

                    
                    .integrations__item--image
                        img(src="../../assets/images/integrations__img-01.png", alt="The package's powerful ecosystem" class="")

                li.integrations__item(data-image="2") 
                    .integrations__item--content 
                        h5.integrations__item--title 
                            | First-class support for versioning
                            span 
                                svg(width="9" height="14" viewBox="0 0 9 14" fill="none" xmlns="http://www.w3.org/2000/svg")
                                    path(d="M1.65685 1.17518L7.31371 6.83203L1.65685 12.4889" stroke="#03032D" stroke-width="2")

                        p.integrations__item--text 
                            | Based on Node.js and serverless which should make working with Fusebit confortable.

                        .integrations__item--icon 
                            svg(id="icon--verified" width="24" height="24" fill="none" xmlns="http://www.w3.org/2000/svg")
                                g(clip-path="url(#clip0)")
                                    path(d="M21.547 3.886L12.359.072a.938.938 0 00-.719 0L2.454 3.886a.938.938 0 00-.578.866v4.637a15.7 15.7 0 009.77 14.541.938.938 0 00.71 0 15.7 15.7 0 009.77-14.54V4.751a.937.937 0 00-.578-.866zM20.25 9.39A13.828 13.828 0 0112 22.044 13.829 13.829 0 013.75 9.39V5.378L12 1.953l8.25 3.425v4.011zm-9.286 3.16l4.03-4.03a.938.938 0 011.325 1.326l-4.692 4.693a.937.937 0 01-1.326 0l-2.62-2.62a.937.937 0 111.326-1.326l1.957 1.957z" fill="#03032D")
                                defs
                                    clipPath(id="clip0")
                                        path(fill="#fff" d="M0 0h24v24H0z")


                    .integrations__item--image
                        img(src="../../assets/images/integrations__img-02.png", alt="First-class support for versioning" class="") 
                
            
            script.
                let integrationsSection = document.querySelector('.integrations');
                if(integrationsSection) {

                    let desplegables = [...integrationsSection.querySelectorAll('.integrations__item--title')];

                    desplegables.forEach(desplegable => {

                        desplegable.addEventListener('click', () => {
                            if(!desplegable.parentNode.parentNode.classList.contains('integrations__item-active')) {
                                let parent = desplegable.parentNode;

                                desplegables.forEach(item => item.parentNode.parentNode.classList.remove('integrations__item-active'));
                                desplegable.parentNode.parentNode.classList.add('integrations__item-active');

                                if (window.matchMedia('(max-width: 720px)').matches) {
                                    desplegable.scrollIntoView();

                                }

                            }
                        })

                    })

                }

        svg(class="integrations__path" width="28" height="948" fill="none")
            path(d="M14 24.004v923" stroke="#D7E5FF" stroke-width="2")
            g(opacity=".9")
                circle(cx="1" cy="8.004" r="1" fill="#D7E5FF")
                circle(cx="27" cy="8.004" r="1" fill="#D7E5FF")
                circle(cx="14" cy="8.004" r="7" stroke="#D7E5FF" stroke-width="2")
