  
section.integrations      
    .integrations__container 
        .integrations__wrapper.integrations__wrapper--head
            h2.integrations__title 
                span Enjoy the freedom
                | of code_

            p.integrations__text 
                | Address all integrations requirements with the flexibility of code. Our developer-friendly platform makes you feel at home

        .integrations__wrapper.integrations__wrapper--content
            ul.integrations__dataList
                li.integrations__item.integrations__item-active(data-image="0") 
                    .integrations__item--content 
                        h5.integrations__item--title 
                            | We provide an extensible code-first model 
                            span 
                                svg(width="9" height="14" viewBox="0 0 9 14" fill="none" xmlns="http://www.w3.org/2000/svg")
                                    path(d="M1.65685 1.17518L7.31371 6.83203L1.65685 12.4889" stroke="#03032D" stroke-width="2")

                        p.integrations__item--text 
                            | Based on Node.js and serverless which should make working with Fusebit confortable.

                    .integrations__item--image
                        img(src="../../assets/images/integrations__img-00.png", alt="We provide an extensible code-first model")

                li.integrations__item(data-image="1")
                    .integrations__item--content 
                        h5.integrations__item--title 
                            | The package's powerful ecosystem
                            span 
                                svg(width="9" height="14" viewBox="0 0 9 14" fill="none" xmlns="http://www.w3.org/2000/svg")
                                    path(d="M1.65685 1.17518L7.31371 6.83203L1.65685 12.4889" stroke="#03032D" stroke-width="2")

                        p.integrations__item--text 
                            | Based on Node.js and serverless which should make working with Fusebit confortable.
                    
                    .integrations__item--image
                        img(src="../../assets/images/integrations__img-01.png", alt="The package's powerful ecosystem" class="")

                li.integrations__item(data-image="2") 
                    .integrations__item--content 
                        h5.integrations__item--title 
                            | First-class support for versioning
                            span 
                                svg(width="9" height="14" viewBox="0 0 9 14" fill="none" xmlns="http://www.w3.org/2000/svg")
                                    path(d="M1.65685 1.17518L7.31371 6.83203L1.65685 12.4889" stroke="#03032D" stroke-width="2")

                        p.integrations__item--text 
                            | Based on Node.js and serverless which should make working with Fusebit confortable.

                    .integrations__item--image
                        img(src="../../assets/images/integrations__img-02.png", alt="First-class support for versioning" class="") 
                
            
            script.
                let integrationsSection = document.querySelector('.integrations');
                if(integrationsSection) {

                    let desplegables = [...integrationsSection.querySelectorAll('.integrations__item--title')];

                    desplegables.forEach(desplegable => {
                        console.log(desplegable)

                        desplegable.addEventListener('click', () => {
                            if(!desplegable.parentNode.parentNode.classList.contains('integrations__item-active')) {
                                let parent = desplegable.parentNode;

                                desplegables.forEach(item => item.parentNode.parentNode.classList.remove('integrations__item-active'));
                                desplegable.parentNode.parentNode.classList.add('integrations__item-active');
                            }
                        })

                    })

                }

        svg(class="integrations__path" width="28" height="948" fill="none")
            path(d="M14 24.004v923" stroke="#D7E5FF" stroke-width="2")
            g(opacity=".9")
                circle(cx="1" cy="8.004" r="1" fill="#D7E5FF")
                circle(cx="27" cy="8.004" r="1" fill="#D7E5FF")
                circle(cx="14" cy="8.004" r="7" stroke="#D7E5FF" stroke-width="2")
