mixin footerLink(link, linkText, badge, onClick)
    li.footer__link 
        a(href=link onclick= onClick)= linkText
        if(badge)
            .footer__link--badge
                span= badge
footer.footer
    img(class="footer__top-mark" src="../../assets/images/footer__bg/bg--top.png" alt="Footer Top Mark") 
    img(class="footer__bottom-mark" src="../../assets/images/footer__bg/bg--bottom.png" alt="Footer Bottom Mark") 
    .footer__container 
        .footer__wrapper.footer__wrapper--head
            .footer__logo 
                a(href="/") 
                    include ../Logo/Logo

            ul.footer__links 
                li.footer__links--title  

                +footerLink('https://developer.fusebit.io', 'Developers', 0, "sendEvent('Navigation', 'Clicked developers footer nav');")
                +footerLink('/about/', 'About Us', 0, "sendEvent('Navigation', 'Clicked about footer nav');")
                +footerLink('/careers/', 'Careers', 2, "sendEvent('Navigation', 'Clicked careers footer nav');")
                +footerLink('/contact/', 'Contact', 0, "sendEvent('Navigation', 'Clicked contact footer nav');")
                //+footerLink('#blog', 'Blog', 0, "sendEvent('Navigation', 'Clicked blog footer nav');")
                //+footerLink('#docs', 'Docs', 0, "sendEvent('Navigation', 'Clicked docs footer nav');")

            ul.footer__links 
                li.footer__links--title  

                +footerLink('/legal/', 'Legal', 0, "sendEvent('Navigation', 'Clicked legal footer nav');")
                +footerLink('/privacy/', 'Privacy Policy', 0, "sendEvent('Navigation', 'Clicked privacy footer nav');")
                +footerLink('/support/', 'Support', 0, "sendEvent('Navigation', 'Clicked support footer nav');")
                +footerLink('/terms/', 'Terms of Use', 0, "sendEvent('Navigation', 'Clicked terms footer nav');")

            .footer__social 
                include ../SocialMedia/SocialMedia

        .footer__wrapper.footer__wrapper--content 
            p Copyright 2019-2021 Fusebit

    .footer__bg 
