mixin footerLink(link, linkText, badge)
    li.footer__link 
        a(href=link)= linkText
        if(badge)
            .footer__link--badge
                span= badge
footer.footer 
    .footer__container 
        .footer__wrapper.footer__wrapper--head
            .footer__logo 
                a(href="#logo") 
                    include ../Logo/Logo

            ul.footer__links 
                li.footer__links--title  Company

                +footerLink('about-us', 'About Us')
                +footerLink('careers', 'Careers', 4)
                +footerLink('#blog', 'Blog')
                +footerLink('#docs', 'Docs')
                +footerLink('#legal', 'Legal')

            ul.footer__links 
                li.footer__links--title  Integration

                +footerLink('#slack', 'Slack')
                +footerLink('#jira', 'Jira')
                +footerLink('#mailchimp', 'Mailchimp')
                +footerLink('#slack', 'Slack')
                +footerLink('#jira', 'Jira')
                +footerLink('#mailchimp', 'Mailchimp')

            .footer__social 
                include ../SocialMedia/SocialMedia

        .footer__wrapper.footer__wrapper--content 
            p Copyright 2019-2021 Fusebit

    .footer__bg 
        - for(let i = 1; i <= 5; i++)
            - let bgNo = ('0' + i).slice(-2);
            div(class='footer__bg--' + bgNo)