mixin footerLink(link, linkText, badge)
    li.footer__link 
        a(href=link)= linkText
        if(badge)
            .footer__link--badge
                span= badge
footer.footer 
    .footer__container 
        .footer__wrapper.footer__wrapper--head
            .footer__logo 
                a(href="/") 
                    include ../Logo/Logo

            ul.footer__links 
                li.footer__links--title  

                +footerLink('about', 'About Us')
                +footerLink('careers', 'Careers', 2)
                +footerLink('contact', 'Contact')
                //+footerLink('#blog', 'Blog')
                //+footerLink('#docs', 'Docs')
                

            ul.footer__links 
                li.footer__links--title  

                +footerLink('legal', 'Legal')
                +footerLink('privacy', 'Privacy Policy')
                +footerLink('support', 'Support')
                +footerLink('terms', 'Terms of Use')

            .footer__social 
                include ../SocialMedia/SocialMedia

        .footer__wrapper.footer__wrapper--content 
            p Copyright 2019-2021 Fusebit

    .footer__bg 
        - for(let i = 1; i <= 5; i++)
            - let bgNo = ('0' + i).slice(-2);
            div(class='footer__bg--' + bgNo)