mixin footerLink(link, linkText, badge, trackedWithSegment, eventName, objectLocation)
    li.footer__link 
        a(href=link, data-object-location=objectLocation, data-event-name=eventName class=trackedWithSegment ? 'track-with-segment' : '')=linkText
        if(badge)
            .footer__link--badge
                span= badge
footer.footer
    img(class="footer__top-mark" src="/assets/images/footer__bg/bg--top.png" alt="Footer Top Mark") 
    img(class="footer__bottom-mark" src="/assets/images/footer__bg/bg--bottom.png" alt="Footer Bottom Mark") 
    .footer__container 
        .footer__wrapper.footer__wrapper--head
            .footer__logo 
                a(href="/") 
                    include ../Logo/Logo

            ul.footer__links 
                li.footer__links--title  Integrations

                +footerLink('https://go.fusebit.io/slack/', 'Slack', 0, true, 'Slack Connector Link Clicked', 'Footer')
                +footerLink('https://go.fusebit.io/hubspot/', 'HubSpot', 0, true, 'HubSpot Connector Link Clicked', 'Footer')
                +footerLink('https://go.fusebit.io/salesforce/', 'Salesforce', 0, true, 'Salesforce Connector Link Clicked', 'Footer')
                +footerLink('https://go.fusebit.io/linear/', 'Linear', 0, true, 'Linear Connector Link Clicked', 'Footer')
                +footerLink('https://go.fusebit.io/fusebot/', 'Slash Bot', 0, true, 'Slash Commands Link Clicked', 'Footer')

            ul.footer__links 
                li.footer__links--title  Developers
                
                +footerLink('https://developer.fusebit.io/docs', 'Documentation', 0, true, 'Developer Docs Link Clicked', 'Footer')
                +footerLink('https://developer.fusebit.io/reference', 'API Reference', 0, true, 'Developer API Reference Link Clicked', 'Footer')
                +footerLink('/blog/', 'Integration Stories', 0)
                
            ul.footer__links 
                li.footer__links--title  Company
   
                +footerLink('/pricing/', 'Pricing', 0)
                +footerLink('/about/', 'About Us', 0)
                +footerLink('/support/', 'Support', 0)
                +footerLink('/careers/', 'Careers', 0)
                +footerLink('/contact/', 'Contact', 0)
                +footerLink('/legal/', 'Legal', 0)
                +footerLink('/privacy/', 'Privacy Policy', 0)
                +footerLink('/terms/', 'Terms of Use', 0)

            .footer__social 
                include ../SocialMedia/SocialMedia

        .footer__wrapper.footer__wrapper--content 
            p Copyright 2019-2021 Fusebit

    .footer__bg 
