section.section.installation
    .background.background--white
        .mark.mark--small.mark--dark-violet.mark--left.installation__mark
    .installation__container.layout
        .installation__wrapper
            div asd