section.section.installation
    .background.background--white
        .mark.mark--small.mark--dark-violet.mark--left.installation__mark
    .installation__container.layout
        .installation__wrapper
            .installation__title Fusebot installation
            .installation__subtitle Choose your adventure
            .installation__cta-wrapper
                a.track-with-segment.fusebot-cta.installation__cta(href="https://discord.com/api/oauth2/authorize?client_id=835311178808819712&permissions=2048&redirect_uri=https%3A%2F%2Fgo.us-west-2.fusebot.io%2Fv1%2Frun%2Fsub-af5f271f798a4980%2Fapp%2Ffusebot%2Fdiscord%2Fcallback&response_type=code&scope=identify%20email%20bot%20applications.commands" target="_blank" data-event-name="Add to Discord Button Clicked" data-object-location="Fusebot Page Installation")
                    | Add to Discord
                a.track-with-segment.fusebot-cta.installation__cta(href="https://slack.com/oauth/v2/authorize?client_id=457394426995.2008148616816&scope=chat:write,commands&user_scope" target="_blank" data-event-name="Add to Slack Button Clicked" data-object-location="Fusebot Page Installation")
                    | Add to Slack
            .installation__description 
                | Made with love by former Auth0 & Microsoft developers at <strong>Fusebit</strong> ❤️
            a.fusebot-cta-hover-animation(href="https://www.producthunt.com/posts/fusebot?utm_source=badge-featured&utm_medium=badge&utm_souce=badge-fusebot" target="_blank")
                img(src="https://api.producthunt.com/widgets/embed-image/v1/featured.svg?post_id=307836&theme=light" alt="Fusebot - Integrate & automate anything on Slack/Discord in seconds | Product Hunt" style="width: 250px; height: 54px;" width="250" height="54")