mixin card(src, title, subtitle) 
    .founders__founder-img-container
        img(src=src alt=title)
    h4.card-title
        | #{title}
    span.card-subtitle
        | #{subtitle}
    .social-media-container
        a.social-media(href="#" target="_blank")
            img(src="../../../assets/images/about/teams/linkedin.svg" alt="Linkedin")
        a.social-media(href="#" target="_blank")
            img(src="../../../assets/images/about/teams/twitter.svg" alt="Twitter")


section.founders
    .founders__container 
        img(src="../../../assets/images/about/founders/path.svg").founders__path
        .founders__founder.founders__founder-1
            +card('../../../assets/images/about/founders/founder-1.svg', 'Tomasz Janczuk', 'Co-founder & CEO')
        .founders__founder.founders__founder-2
            +card('../../../assets/images/about/founders/founder-2.svg', 'Yavor Georgiev', 'Co-founder & CPO')
        .founders__founder.founders__founder-3
            +card('../../../assets/images/about/founders/founder-3.svg', 'Benn Bollay', 'Co-founder & CTO')