mixin card(src, title, subtitle) 
    .founders__founder-img-container
        img(src=src alt=title)
    h4.card-title
        | #{title}
    span.card-subtitle
        | #{subtitle}
    .social-media-container
        a.social-media(href="#" target="_blank")
            img(src="../../../assets/images/about/teams/linkedin.svg" alt="Linkedin")
        a.social-media(href="#" target="_blank")
            img(src="../../../assets/images/about/teams/twitter.svg" alt="Twitter")


section.section.founders
    .background
        .mark.mark--big.mark--dark-violet.mark--left.founders__mark-small
        .mark.mark--small.mark--light-violet.mark--left.founders__mark-big
    .layout.founders__layout
        .founders__people--mobile
            .founders__initial-dot.pathdot
            .founders__first-dot.pathdot
            .founders__second-dot.pathdot
            .founders__third-dot.pathdot
            svg(width='28' height='16' viewbox='0 0 28 16' fill='none' xmlns='http://www.w3.org/2000/svg' class="founders__mobile-path-circle")
                g(opacity='0.6')
                    circle(cx='1' cy='8' r='1' fill='#D7E5FF')
                    circle(cx='27' cy='8' r='1' fill='#D7E5FF')
                    circle(cx='14' cy='8' r='7' stroke='#D7E5FF' stroke-width='2')
            svg(width='25' height='438' viewbox='0 0 25 438' fill='none' xmlns='http://www.w3.org/2000/svg' class="founders__first-mobile-path")
                path(d='M1,0v421c0,8.8,7.2,16,16,16h8' stroke='#D7E5FF' stroke-width='2' id="founders__first-mobile-path")
            .founders__card--container.founders__first-founder
                .founders__founder
                    +card('../../../assets/images/about/founders/founder-1.svg', 'Tomasz Janczuk', 'Co-founder & CEO')
                svg(width='26' height='275' viewbox='0 0 26 275' fill='none' xmlns='http://www.w3.org/2000/svg' class="founders__second-mobile-path")
                    path(d='M0.5 1.5H9C17.8366 1.5 25 8.66344 25 17.5V258C25 266.837 17.8366 274 9 274H1' stroke='#D7E5FF' stroke-width='2' id="founders__second-mobile-path")
            .founders__card--container.founders__second-founder
                .founders__founder
                    +card('../../../assets/images/about/founders/founder-2.svg', 'Yavor Georgiev', 'Co-founder & CPO')
                svg(width='26' height='275' viewbox='0 0 26 275' fill='none' xmlns='http://www.w3.org/2000/svg' class="founders__third-mobile-path")
                    path(d='M25.5 1H17C8.16344 1 1 8.16344 1 17V257.5C1 266.337 8.16344 273.5 17 273.5H25' stroke='#D7E5FF' stroke-width='2' id="founders__third-mobile-path")
            .founders__card--container.founders__third-founder
                .founders__founder
                    +card('../../../assets/images/about/founders/founder-3.svg', 'Benn Bollay', 'Co-founder & CTO')
        .founders__info
            .founders__content
                +title('Fusebit ', 'founders', false, true)
                +text('Prior to co-founding Fusebit, our founders worked together for years on cloud technologies, platforms, and products across Microsoft and Auth0, where we mastered the art and science of building developer products.', 'founders__text')
            .founders__card
                .founders__card-img-container.founders__card-f5
                    img(src="../../../assets/images/about/founders/f5.svg")
                .founders__card-img-container.founders__card-auth0
                    img(src="../../../assets/images/about/founders/auth0.svg")
                .founders__card-img-container.founders__card-microsoft
                    img(src="../../../assets/images/about/founders/microsoft.svg")
                span Cloud & developer expertise
        .founders__path-container.founders__people--desktop
            img(src="../../../assets/images/ellipse.svg").founders__ellipse
            img(src="../../../assets/images/about/founders/path.svg").founders__path
            .founders__founder.founders__founder--svg.founders__first-founder
                +card('../../../assets/images/about/founders/founder-1.svg', 'Tomasz Janczuk', 'Co-founder & CEO')
            .founders__founder.founders__founder--svg.founders__second-founder
                +card('../../../assets/images/about/founders/founder-2.svg', 'Yavor Georgiev', 'Co-founder & CPO')
            .founders__founder.founders__founder--svg.founders__third-founder
                +card('../../../assets/images/about/founders/founder-3.svg', 'Benn Bollay', 'Co-founder & CTO')

script.
    window.addEventListener("load", () => {
        const makeScrollTrigger = (el, path, options) => {
            gsap.to(el, {
                scrollTrigger: {
                    trigger: path,
                    start: "top 25%",
                    end: "bottom 25%",
                    scrub: 0,
                    //- markers: true,
                    onToggle: ({ isActive }) => {
                        const dot = document.querySelector(el);

                        if (isActive) {
                            dot.style.opacity = "1";
                        } else {
                            dot.style.opacity = "0";
                        }
                    },
                    ...options
                },
                motionPath: {
                    path: path,
                    align: path,
                    alignOrigin: [0.5, 0.5],
                }
            });
        };

        makeScrollTrigger(".founders__first-dot", "#founders__first-mobile-path", {
            onUpdate: ({ progress }) => {
                const dot = document.querySelector(".founders__initial-dot");

                if (progress > 0) {
                    dot.style.opacity = "0";
                } else {
                    dot.style.opacity = "1";
                }
            }
        });
        makeScrollTrigger(".founders__second-dot", "#founders__second-mobile-path");
        makeScrollTrigger(".founders__third-dot", "#founders__third-mobile-path");
    });

